[2017-10-25 07:56] minggangw opened #1 "ros2bridge kick-off"
Hi @jihoonl, as [rclnodejs](https://github.com/RobotWebTools/rclnodejs) is nearly done, we want to move forward to start the **ros2bridge** project. Generally, we want to follow the rosbridge v2 Protocol and leverage the `rclnodejs`, our aim is to influence the `roslibjs` as little as possible, thus  a series of components, which are based on `roslibjs`, could be available to avoid huge effort on

[2017-10-25 08:01] jihoonl commented on #1
thank you for awesome works in `rclnodejs`. There is not so many things I can suggest at the moment. How about having an announcement in [ng-ros discourse](https://discourse.ros.org/c/ng-ros) to grab ros2 developers attention? I think they can give you some opinions about `rclnodejs` as well as `ros2bridge`.

[2017-10-25 08:18] minggangw commented on #1
We are planning to have an alpha release of `rclnodejs` recently, I think we can make an announcement in ros discourse after that milestone.

[2017-10-25 08:25] jihoonl commented on #1
Cool! Looking forward to it. :smile:

[2017-10-26 00:56] kenny-y commented on #1
👍

[2017-11-03 07:54] minggangw commented on #1
We just made the `rclnodejs` announcement at https://discourse.ros.org/t/node-js-client-for-ros-2-0-is-ready/3096, thanks!

[2017-12-21 03:16] minggangw commented on #1
This first patch has landed(6ba7c515d16d079), @jihoonl would you please help me set the `develop` branch as the default one and add @kenny-y and me as admin in order to enable the ci services? Thanks!

[2017-12-21 05:31] kenny-y opened #3 "Add command line wrapper and argument processor"
Add command line wrapper so that user can run a specific script instead of running `node index.js` command

Add argument processor that is compatible with 1.0 bridge, e.g. `--port`, `--address`, `--retry_startup_delay`, `--fragment_timeout` and etc.

[2017-12-21 05:37] kenny-y opened #4 "Add Authentication feature"
According to the [rosbridge Protocol Specification](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#331-authenticate--auth-) document

-    Any server that enabled authentication should wait for this request to come in first before accepting any other op code from the client.
-    Once the request comes in, it would verify the information (in a ROS system, using

[2017-12-21 05:38] kenny-y opened #5 "Add Status feature [experimental]"

[2017-12-21 06:13] kenny-y opened #6 "Add fragment & png compression feature [experimental]"

[2017-12-21 08:28] jihoonl commented on #1
Hi @minggangw, now ROS2.0 Team has a full access to rclnodejs and ros2bridge_suite-experiment. Feel free to rename the repository as something-else that you prefer. e.g) `rclbridge-suite` or `rclwebbridge-suite`.

[2017-12-22 04:38] kenny-y commented on #3
Started to work on this one.

[2017-12-22 07:28] kenny-y commented on #4
There are 2 ways to do it based on preliminary analysis:
1. wait for ROS 2.0 equivalent of `rosauth` and call into it
1. write the similar logic of `rosauth` ([< 150 lines of C++ code](https://github.com/GT-RAIL/rosauth/blob/develop/src/ros_mac_authentication.cpp)) in JavaScript

@minggangw WDYT?

[2017-12-22 07:32] kenny-y commented on #1
+1 for `rclwebbridge-suite` naming 👍

[2017-12-22 07:41] kenny-y opened #8 "Server stability bug -- unhandled underlying layer exceptions"
Case 1: Refresh browser as fast as you can, you'll hit this

[code]

Case 2: connect to bridge with `service.html`, and then refresh.

[code]

[2017-12-22 08:42] minggangw commented on #4
I look through the features of the next [release](https://github.com/ros2/ros2/wiki/Roadmap), which will happen in summer 2018, `security improvements` section mentions the authentication.

[2017-12-25 05:56] kenny-y commented on #8
Merging in more bugs and rename issue since they're similar -- exception handling.

[2017-12-28 06:27] minggangw commented on #1
Kenny and I decided to rename the repo to `ros2-web-bridge`, which stands for a bridge for ROS 2.0 and web specific.

[2018-01-19 05:21] qiuzhong opened #26 "Status message response should be sent back to clients for every message"
This project implemented the  [rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md)
Generally, sending an rosbridge message to the bridge should always return a response no matter the message is handled well.

However, this is not the cases, web socket client cannot receive response from the bridge web socket server:

[code]

To make the rosbr

[2018-01-19 05:45] qiuzhong commented on #26
This is also the experimental feature in [3.2 section of rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#32-status-messages)

[2018-01-19 05:56] minggangw commented on #26
Thanks for the finding, I will take this issue.

[2018-01-22 03:04] #26 closed, assigned to minggangw

[2018-01-22 07:55] qiuzhong commented on #26
Verified. Basically valid operations can receive responses now.

[2018-01-22 07:56] qiuzhong opened #30 "Unused rclnodejs requiring"
There are `rclnodejs` module requirings in [lib/bridge.js](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/lib/bridge.js#L17) and [lib/resource_provider.js](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/lib/resource_provider.js#L17) but never used.

[code]

[2018-01-22 08:09] qiuzhong opened #31 "auth operation not integrated"
It seems the `auth` operation is not intergrated with the bridge as `rosauth.js` is never required or referred by the bridge implementation. The authentication function is implemented, though.

[2018-01-23 07:33] #30 closed, assigned to minggangw

[2018-01-23 07:46] minggangw commented on #31
The `rosauth` should act as a service in ROS, and `ros2-web-bridge` has to call the `rosauth` service when `['op'] == 'auth'`. In ROS2, there has not been defined such a [srv](https://github.com/GT-RAIL/rosauth/blob/develop/srv/Authentication.srv) as ROS1 does, we better pend this requirement.

[2018-01-23 13:52] prasun2712 opened #33 "Error in npm install, please suggest the possible solution."
-

make: Entering directory '/home/username/ros2-web-bridge/node_modules/rclnodejs/node_modules/ref/build'
  CXX(target) Release/obj.target/binding/src/binding.o
../src/binding.cc: In function ‘void init(Nan::ADDON_REGISTER_FUNCTION_ARGS_TYPE)’:
../src/binding.cc:643:8: warning: ‘Nan::Maybe<bool> Nan::ForceSet(v8::Local<v8::Object>, v8::Local<v8::Value>, v8::Local<v8::Value>, v8::PropertyAttribute

[2018-01-24 01:40] qiuzhong commented on #33
Please report your Node.js version. We've tried on `Node.js v8.9.4 (with npm 5.6.0)` and it worked.

[2018-01-24 02:52] qiuzhong opened #34 "Lack of handler for unrecognized operations"
Currently, the bridge can process valid operations received from the web socket server after #26 fixed.
However, for unrecognized operations, there is no good handler to process them.

[code]

When the bridge receives message that contains unrecognized operations, it simply ignore it and thus the client will not receive any feedback. Any web socket clients will hang after send an invalid operation

[2018-01-24 06:29] minggangw commented on #33
I can reproduce this problem on node `v4.4.2`, it was caused by not installing the `nan` module, although `nan` is a dependency of other modules already. On a later version of node.js, it seems workable. I will update the `dependencies` section of [package.json](https://github.com/RobotWebTools/rclnodejs/blob/develop/package.json#L31) to fix this version specific bug.

@prasun2712 as this bug come

[2018-01-24 07:06] qiuzhong opened #36 "rosbridge v2 protocol specification: advertise"
According to the [rosbridge v2 protocol specification 3.4.1  Advertise ( advertise )](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#341-advertise--advertise-)

[code]

[2018-01-24 09:34] minggangw commented on #36
I will check this situation to see if it's supported by ROS2 now.

[2018-01-25 07:29] qiuzhong commented on #33
Suggest to upgrade Node.js version as `rclnodejs` doesn't support for Node.js 4.x series. Your Node.js version should not be lower than `6.10.0`.

[2018-01-25 08:50] qiuzhong opened #37 "rosbridge v2 protocol specification: unadvertise"
According to the [rosbridge v2 protocol specification section 3.4.2 unadvertise](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#342-unadvertise--unadvertise-):

Test case:
[code]

[2018-01-26 02:32] qiuzhong commented on #30
Verified in #32 comment.

[2018-01-29 05:06] minggangw commented on #33
The [latest release](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.3.2-beta.3) of rclnodejs has resolved this problem. If you install a unqualified version of Node.js, you will receive a warning which indicates to upgrade your Node.js. Close this issue.

[2018-01-29 05:06] #33 closed, assigned to nobody

[2018-01-29 22:17] prasun2712 commented on #33
@minggangw Thank you for the help. It is working fine with node v8.9.4 and now I am able to start ros2_web_bridge module and the express server. I can also hit the publisher.html page and it shows output as connected and is showing publish message hello from rosbridge, but topic is not visible using ros2cli (ros2 topic list). What is the possible reason and solution for same.

[2018-01-30 02:45] minggangw commented on #33
What is the command line you executed, do you try the same command when using `rclpy` client to see the topics?

[2018-01-30 02:58] minggangw commented on #33
@qiuzhong would you help me to verify it by using [ros2cli](https://github.com/ros2/ros2cli)? thanks!

[2018-01-30 03:25] qiuzhong commented on #33
ros2 topic is visible for me.
[code]

I wrote a subscription based on `rclnodejs` and it could receive the message from `publisher.html` as well.

[2018-01-30 03:28] minggangw commented on #33
@qiuzhong thanks for your support, so @prasun2712 did you do the same as @qiuzhong did? If you still meet the problem, please feedback thanks!

[2018-01-30 20:15] prasun2712 commented on #33
![clip1](https://user-images.githubusercontent.com/24420650/35588866-ee09c030-0627-11e8-9ef0-502d6571a218.png)
![clip2](https://user-images.githubusercontent.com/24420650/35588867-ee53c3c4-0627-11e8-9817-415264dd93b9.png)
I ran two commands from ros2-web-bridge, "node bin/rosbridge.js" and "cd examples && node index.js" and then navigated to "http://localhost:3000/html/publisher.html" but still am

[2018-01-31 02:14] minggangw commented on #33
I double checked my execution result of `ros2 topic list`, it works fine.
![screenshot from 2018-01-31 10-07-14](https://user-images.githubusercontent.com/6469275/35601569-bf51cc82-066e-11e8-81fd-4723bcb858b5.png)

Please check whether it works when you are running a rclnodejs [example](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-example.js) or a rclpy [example](https

[2018-01-31 02:57] qiuzhong opened #39 "bin/rosbridge.bat is empty"
This batch file should be for Windows to launch the `rosbridge.js` server but it's empty.

[2018-01-31 07:01] #34 closed, assigned to minggangw

[2018-01-31 07:18] qiuzhong commented on #34
Verified.

Great! An error response will return when an unsupported operation request is sent to the bridge server now.

[code]

[2018-01-31 09:31] prasun2712 commented on #33
rclnodejs example "publisher-example.js" returns error :

(node:12179) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: The message required does not exist: std_msgs, msg, String
(node:12179) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with

[2018-01-31 09:40] minggangw commented on #33
It seems that the generated `.js` files are missing, you can delete the `generated` folder (path is YOUR_WORK_SPACE/rclnodejs/generated) manually and run the example again, all the message files will be regenerated again for you.

[2018-01-31 11:42] prasun2712 commented on #33
Thanks @minggangw , so rclnodejs examples are working for me, but ros2-web-bridge examples index.js is not working even though the html page shows its connected and is publishing on the topic "example_topic".

[2018-01-31 11:55] minggangw commented on #33
Currently the `roslibjs` running in your browser doesn't check the result of the execution, I suggest you can write a Node.js app by `rclnodejs` to see if you can receive the topic published from the browser.

Also you can check the `rclnodejs` module under your `node_modules`, and run the example.

[2018-01-31 12:09] prasun2712 commented on #33
Sure, will do that and get back to you in case of any problem. :) Thanks buddy.

[2018-02-01 03:33] minggangw commented on #39
Does `bin/rosbridge.js` work in Windows environment?

[2018-02-01 05:39] qiuzhong opened #41 "Failed to launch rosbridge.js server on Windows"
I can install `ros2-web-bridge` on Windows successfully. However, it failed to launch `bin\rosbridge.js`:
[code]

## Environments:
* Windows 10 1607
* Node.js: 8.9.4
* VS2017 Community Edition

[2018-02-01 05:40] qiuzhong commented on #39
No. See another issue: #41

[2018-02-01 11:11] prasun2712 commented on #33
Hi @minggangw ! I did all the testing. My findings are :
1) Using rclnodejs examples I am able to publish and subscribe to topics and I am able to visualize the topics and the contents using rcl in terminal.
2) ros2-web-bridge is up but the html page is not publishing on the topic using roslibjs neither it is subscribing to the published topic.
I am not sure what exactly is the issue, also is ther

[2018-02-02 02:37] minggangw commented on #33
You can run

[code]

to see the debug information.
![screenshot from 2018-02-02 10-51-12](https://user-images.githubusercontent.com/6469275/35714346-1a1ebd48-0807-11e8-8693-4057edca24a5.png)

[2018-02-02 03:16] minggangw commented on #39
Got it

[2018-02-02 03:20] qiuzhong commented on #41
I checked the Node.js addon file
`C:\dev\ros2\ros2-web-bridge\node_modules\rclnodejs\build\Release\rclnodejs.node` and it actually exists.

[2018-02-02 09:40] #36 closed, assigned to minggangw

[2018-02-02 10:08] prasun2712 commented on #33
I am getting error , The message required does not exist. Also I am not getting message that web socket server started on "IP:PORT".

![test](https://user-images.githubusercontent.com/24420650/35727467-2f0eea9e-082e-11e8-86bb-d14b4f9405bc.png)

[2018-02-02 10:18] minggangw commented on #41
We need a version for windows to start our module.

[2018-02-02 10:23] minggangw commented on #33
It seems that you meet the same problem as you were running rclnodejs examples. I estimate the reason why you have it is that you switched the version of Node.js without installing the dependencies again. So I suggest:

[code]
This will clean up the environment, hope it works!

[2018-02-02 12:40] prasun2712 commented on #33
Yes deleting node_modules folder and clearing cache (npm cache clear --force), then installing again did the work for me. Thank you. But the warning related to "NAN_DEPRECATED" still came though I am using node version (v8.9.4).

[2018-02-02 13:32] minggangw commented on #33
That warning comes from [NAN](https://github.com/nodejs/nan) when compiling, which will not lead to problems, so just go ahead!

[2018-02-05 06:18] qiuzhong commented on #36
Tried with PR42. Same as PR43, one more normal response is sent back to the client.

[2018-02-05 07:30] qiuzhong opened #44 "web socket security consideration"
Currently, the bridge provides web socket interface by
[code]

In that case, all the security-related operations (`auth`) data is exposed in the socket transmission. What about using web socket security protocol (`wss://`)?

[2018-02-06 02:56] #37 closed, assigned to minggangw

[2018-02-06 05:06] qiuzhong commented on #37
Verified as in PR43 comment.

[2018-02-06 05:22] qiuzhong commented on #36
Verified. No more the extra response any more.

[2018-02-06 07:57] qiuzhong opened #45 "ros2-bridge protocol: advertise operation with same topic and type"
According to the [rosbridge v2.0 Protocol Specification section 3.4.1](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#341-advertise--advertise-)

Does this mean if a second `advertise` operation with the same topic and type is coming, the current publisher should be destroyed and create a new one?
If so, what's the point?

[2018-02-06 07:59] qiuzhong commented on #45
@minggangw , please take a look.

If I didn't get wrong, the ros2-web-bridge implementation only keeps one publisher for multiple advertise operations with same topic and type. I think this is a good solution as only one publisher instance was created. I'm confused by the spec.

[2018-02-06 08:45] minggangw commented on #45
Your understanding of the implementation of `ros2-web-bridge` is right. If a publisher with a existing topic and the same type is going to be created, the `ros2-web-bridge` will not create another one practically and the requested publisher will get backed by the existing one.

The description of this situation is not clear in the [spec](https://github.com/RobotWebTools/rosbridge_suite/blob/develo

[2018-02-07 05:24] qiuzhong opened #46 "Invalid topic type for unadvertise operation should return error not warning"
For `advertise` operation, invalid topic will cause an error status response as an TypeError is caught during the `executeCommand`. However, invalid topic type for `unadvertise` operation will return a warning status response, like this:

[code]
Since the topic is not in `_topicPublished`, it simply returns a warning status response. This is logic of another rule indicated in the spec while the to

[2018-02-07 05:36] qiuzhong commented on #45
I think the current implementation is just fine though it doesn't comply the spec strictly.

[2018-02-07 08:46] minggangw commented on #46
We should distinguish these two cases:
- invalid topic
- doesn't exist topic

With different level of errors, I will investigate this issue.

[2018-02-08 09:02] qiuzhong opened #49 "Rosbridge v2 protocol: publish with subset msg of type of topic"
In [rosbridge v2 protocol section 3.4.3 - publish](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#343-publish--publish-)

Let's say we advertise a topic with type `std_msgs/Header` (contains a `builtin_interface/Time` field and a `std_msgs/String` field) and send a `Time` type data. The response status is `none` which indicates the operation is successful.

[co

[2018-02-09 03:13] #46 closed, assigned to nobody

[2018-02-09 03:35] minggangw commented on #49
This task should be handled by `rclnodejs` internally, https://github.com/RobotWebTools/rclnodejs/issues/243 is related with this issue.

[2018-02-09 03:42] minggangw opened #50 "Add appveyor ci for window platform"
We should set up the appveyor for the windows platform for verification.

[2018-02-09 05:25] qiuzhong commented on #49
So `rclnodejs` will return a warning or something in that case? Even `rclnodejs` handle with the unspecified fields of the message type, bridge should also catch this exception and return a `warning` status response.

[2018-02-09 05:28] minggangw commented on #49
Unfortunately, `rclnodejs` will not complain.

[2018-02-09 07:09] minggangw commented on #41
Hi @qiuzhong I tested this issue on my windows laptop and it seems workable. I met the same error at the beginning, but soon I noticed that you have to call the

[code]
every time if you run `refreshenv`. So would you please try it again? if there is no problem, I will close this issue and #39. We will use `rosbridge.js` for Linux&Windows.

[2018-02-09 07:10] #50 closed, assigned to minggangw

[2018-02-09 07:16] minggangw commented on #45
So, I think we can close this issue now, thanks!

[2018-02-09 07:16] #45 closed, assigned to nobody

[2018-02-09 08:12] qiuzhong opened #52 "Bridge server process signal handler"
The bridge server sometimes cannot response `CTRL + C` well.

When the bridge server is running, it will initialize the `rclnodejs`, which can catch the `SIGINT` signal. So the `rclnodejs` loop might exit but the web socket server might not exit.

[2018-02-09 08:31] qiuzhong commented on #46
Verified. This issue is fixed.

[2018-02-11 02:09] minggangw commented on #52
Thanks for the funding, I will take this issue.

[2018-02-12 02:25] minggangw commented on #41
Hi @qiuzhong would you please verify this issue, and if it works, we can release a bug fix edition recently. (We have landed several commits to fix the rosbridge protocol issues, I think it is the time to make a minor release)

[2018-02-12 02:27] #52 closed, assigned to minggangw

[2018-02-12 02:43] minggangw commented on #5
I think we have implemented this feature already, please @qiuzhong confirm it, thanks!

[2018-02-12 05:21] qiuzhong commented on #52
Verified. #53 make sure the web socket server is closed when the process is exiting.

[2018-02-12 05:31] qiuzhong commented on #5
@minggangw ,  `set_level` has been implemented but I didn't see there is any `status` operation branch in the code.

[2018-02-12 05:37] minggangw commented on #5
Oh, I misunderstood the `op` here. We only implemented the `set_level`, so let's just mark the `set_level` as **DONE**.

[2018-02-12 06:08] qiuzhong commented on #41
Sorry for late response.

By using the recent ros2 packages, I cannot reproduce this issue any more. This issue was reported when I got the ros2 release package that was before the `rcl` API change: [ros2/rcl@44801b3](https://github.com/ros2/rcl/commit/44801b398e6f0). At present, those old ros2 packages are not compatible the latest `rclnodejs` dependency.

So I don't think this issue is still val

[2018-02-12 06:13] minggangw commented on #41
Thanks for your verification! I will remove the `rosbridge.bat` file then and close issue #39 and this one, thanks!

[2018-02-12 06:51] minggangw commented on #41
Close this issue per comments above.

[2018-02-12 06:51] #41 closed, assigned to minggangw

[2018-02-12 07:50] #39 closed, assigned to nobody

[2018-02-14 02:49] minggangw commented on #3
https://github.com/RobotWebTools/ros2-web-bridge/commit/d77c77b18ea49011b3cb52569a7bc12668f938e4 has landed, so close this issue.

[2018-02-14 02:49] #3 closed, assigned to nobody

[2018-02-23 03:14] qiuzhong opened #58 "Bridge server crashed when running a websocket client"
I got bridge server crashes when a web socket client running for the second time. Here is the crash traceback information:

[code]
A core dump file was generated but its size is too big to attach to here. I can provide it in other way.
Here is my websocket client code:

[code]

# Reproduce steps:
``
$ node client.js
1:{"op":"set_level","level":"none"}
2:{"op":"set_level","level":"none"}
3:{"op":"s

[2018-02-23 07:54] prasun2712 commented on #33
Hi @minggangw ! When I am subscribing a topic via .html page and then after receiving the message if I am unsubscribing it, I am getting error as "ros2-web-bridge:RefCountingHandle Handle is destroyed. +0ms" and then again reloading the page I am not receiving the message, also I am not getting the message "ros2-web-bridge:Bridge Send message to subscription." from ros2_web_bridge end which I got

[2018-02-23 07:55] qiuzhong commented on #58
@minggangw , would you please take a look and see if you can reproduce it?

[2018-02-23 08:21] minggangw commented on #58
OK

[2018-02-23 08:46] minggangw commented on #33
Actually this is not an error. When you unsubscribe a topic, the **bridge** will destroy the practical handle created by `rclnodejs` if this handle is not occupied by others any longer. If you reload the page,  a subscriber will be created again which is transparent to the caller.

I saw a weird output from the log,  **JSON command received: 14**, which means the bridge has received a command whic

[2018-02-24 07:38] qiuzhong opened #59 "Message data not inferred for subscribe operation"
According to [rosbridge v2 protocol section 3.4.4 subscription](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#344-subscribe)

Let's take a look at the `subscribe` operation:
[code]

`type` field is optional, however, sending a `subscribe` operation without `type` field to the bridge server will get an error response.
[code]

This error happened in [_exractMess

[2018-02-26 03:50] minggangw commented on #59
I am afraid that we can not keep compatible with the rosbridge v2 protocol in ROS 2. The reason is below:

In ROS 1 era, we can get the message type by calling `rostopic`, see this [example](https://github.com/RobotWebTools/rosbridge_suite/blob/ee339d54474b87aa2f56b4755cbf095a99d25bff/rosbridge_library/src/rosbridge_library/internal/subscribers.py#L36). But the [ros2cli](https://github.com/ros2/ro

[2018-02-26 05:57] prasun2712 commented on #33
That error JSON command received: 14 is not there this time but the issue is same, when I am unsubscribing the topic I can see that handle is destroyed (That is correct as you explained.), but after reloading the page same JSON message with "op" code subscribe and same other fields is being sent to ros2 bridge but it is not sending the message to subscription as you can see that line is not printe

[2018-02-26 07:39] minggangw commented on #33
[subscription.html.zip](https://github.com/RobotWebTools/ros2-web-bridge/files/1757590/subscription.html.zip)
Please test with this HTML page to replace the one under the `examples` folder.

[2018-02-26 09:04] prasun2712 commented on #33
Same issue with the page you sent. On clicking the unsubscribe button, the message stops, handle is destroyed and upon reloading the page I am not getting the messages even though the connection is there with the bridge and it is receiving the JSON message for subscription. I have to restart the bridge again for it to work.

[2018-02-26 09:14] minggangw commented on #33
It's a little weird, as it works fine on my desktop with the same page. Would you please use

[code]

to check the topic you published is there?

[2018-02-26 09:17] prasun2712 commented on #33
Yes, That I have checked. Topic is being continuously published.

[2018-02-26 09:35] minggangw commented on #33
@prasun2712 Are you using the latest version of [ros2-web-bridge v0.2.1](https://www.npmjs.com/package/ros2-web-bridge), and through the log I didn't see the `publisher`'s output, which client do you use for the publisher, rclpy or rclnodejs?

@qiuzhong would you please verify this problem to see if it can be reproduced? thanks!

[2018-02-26 09:41] prasun2712 commented on #33
Version is "0.2.0" and I am publishing using ros2 command line tool i.e. " ros2 topic pub -r 5 /example_topic std_msgs/String "data: Hello world" "

[2018-02-26 09:45] minggangw commented on #33
I was testing with v0.2.1 and the `html/publisher.html` and `html/subscription.html`, I think it doesn't matter that you were using the `ros2cli` tools. So please try to update your ros2-web-bridge.

[2018-02-26 09:46] prasun2712 commented on #33
Sure, will do that and test.

[2018-02-27 01:26] qiuzhong commented on #33
@minggangw , I didn't reproduce this issue for both `rclnodejs` client and `ros2 topic pub -r 5 /example_topic std_msgs/String "data: Hello world"` command line for the first time. Repeat this by killing the client and restarting it for several times and I can reproduce it!

[2018-02-27 02:03] minggangw commented on #33
Thanks @qiuzhong, let's wait the feedback from @prasun2712 .

[2018-02-27 02:07] minggangw commented on #49
Hi @qiuzhong as https://github.com/RobotWebTools/rclnodejs/commit/925966b6af207b401c4d2a8b216b46f604929fdc has landed, would you please re-run the CIs of #57, thanks!

[2018-02-27 02:09] minggangw commented on #49
Sorry, I forgot we have to update the package of `rclnodejs` on the npmjs, so let's release a new edition of it first.

[2018-02-27 06:00] qiuzhong commented on #49
@minggangw , I just re-run the test cases and get an error response while the spec asks for an warning.

[2018-02-28 02:01] minggangw commented on #49
Do you have the log?

[2018-02-28 02:32] qiuzhong commented on #49
@minggangw ,  here is the bridge server log:
[code]

And here is the log from web socket client:
[code]

[2018-02-28 02:43] qiuzhong commented on #49
Sorry, I just used the wrong message type in `advertise` operation above. I corrected it and updated the log. As you see, it still returned an error response.

[2018-02-28 02:54] minggangw commented on #49
I see, we have to catch this exception in `ros2-web-bridge` in order to return the warning message to the browser. I will submit a PR to fix it.

[2018-03-01 03:23] minggangw commented on #49
rosbridge v2.0 Protocol Specification about this case is:

According to the current implementation of rclnodejs https://github.com/RobotWebTools/rclnodejs/commit/925966b6af207b401c4d2a8b216b46f604929fdc, there will be no **default** value if the subset is not specified. So if we return a warning here, actually the topic is not published which I think it not reasonable because we have dropped it.

[2018-03-01 04:17] qiuzhong commented on #49
Agreed. Due to the implementation limits, we should let the future users know this.

[2018-03-01 08:23] #49 closed, assigned to nobody

[2018-03-01 08:51] minggangw commented on #59
Close this issue as we can not keep compatible with the rosbridge protocol. And we have added the compatibility section into README to point out the differences (#60).

[2018-03-01 08:51] #59 closed, assigned to nobody

[2018-03-05 07:51] qiuzhong opened #63 "Subscribe op implementation incompatible with rosbridge protocol spec"
Here is the `publish` operation interface defined in the [spec](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#344-subscribe)
[code]

Though the `throttle_rate`, `queue_length` are optional fields, they will impact the subscriber's behavior. The spec requires:

In current implementation of rosbridge, this field was never considered for `subscribe` operation.

[2018-03-05 07:53] qiuzhong commented on #63
@minggangw , please take a look and let's discuss whether they'll be implemented or just throw them to the incompatibility table in the README.

[2018-03-05 08:29] minggangw commented on #63
There is no such a parameter like `throttle_rate` in ROS 2 if I remember it right, I will check this soon.

[2018-03-05 08:39] qiuzhong commented on #63
Right. I didn't find the `queue` keyword in rclnodejs qos policy either.

[2018-03-09 01:56] qiuzhong opened #64 "Complex message type altered after bridge server sending back to clients"
For complex message type, like `sensor_msgs/msg/JointState`, the message object altered when the rosbridge server tried sending back it to the clients. Here it is:

* **publish sensor_msg/msg/JointState message type:**
[code]

* **Returned response**:
[code]

The structure of the message altered after serialization.  This happened when calling `JSON.stringify()` and `JSON.parse()` of the `JointSta

[2018-03-09 06:38] qiuzhong opened #65 "Multiple subscriptions support"
In terms of the subscribe-related operations, like `subscribe` and `unsubscribe`, the `id` field is to identify the subscriptions when the `topic` is same. According to the rosbridge v2 protocol [subscribe](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#344-subscribe) section:

and [unsubscribe](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSB

[2018-03-09 07:03] minggangw commented on #64
Do you mean if we create a object below

[code]

then invoke:

[code]
Finally, the structure changed?

[2018-03-09 07:15] qiuzhong commented on #64
Yes. This should be not a problem if users only use `rclnodejs` since there is no need to make JSON conversion. But for the bridge server, this could be a issue.

[2018-03-09 07:34] minggangw commented on #64
Yes, indeed.

[2018-03-09 07:48] minggangw commented on #64
I made a quick test and found that if you print the result of `str = JSON.stringify(obj)`, the string returned is right:

you can get the value of key `nanosec` and `sec` after executing `JSON.parse(str)`.  Would you help me to check this @qiuzhong? thanks!

[2018-03-09 08:00] qiuzhong commented on #64
@minggangw , you're right. Simply making JSON conversion will not raise this.

But this issue is found when I got the data from web socket transferring of the bridge server. What I means is that when web socket clients receive the serialized message, it can be re-construct the original object any more.

[2018-03-09 08:25] qiuzhong commented on #64
Here is the bridge log:

[code]

[2018-03-09 08:46] qiuzhong opened #67 "Failed to run subscribe test cases serially"
This issue is created for track the failure of CI checking of PR #66. The issue is described as:

* They're subscribe-operation-related.
* Running individual test case will pass
* Failed to run multiple test cases or run it twice
* The failure because of bridge server crash during running the test cases.

This issue may be duplicated to #58.

[2018-03-09 09:14] minggangw commented on #64
I tested with `rclnodejs` alone and got below with `console.log(JSON.stringify(state));` in example [subscription-message-example.js
](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/subscription-message-example.js#L24)

[code]

So I think the `rclnodejs` works fine, I will check the `bridge` later, thanks!

[2018-03-09 09:41] minggangw commented on #64
The literal string received by websockets is
[code]
are you printing the result of `JSON.parse` to get the output below?

[code]

[2018-03-09 10:39] qiuzhong commented on #64
Right. That's exact what `JSON.parse()` got:

[code]

[2018-03-12 02:26] minggangw commented on #64
So it's clear now. The thing is that when using `console.log` to print an object of complex message, the `stamp` key of **Header** displays as `[Object]`. I thinks the output is a kind of behaviour of the `console.log` function which will not change the object itself, and it's all right here.

You can do a test to print the object defined below

[code]

and you get

[code]

[2018-03-12 02:30] qiuzhong commented on #64
Please note:

After web socket clients received the complex object, stamp changed from `object` to `array`, position from `array` to `object`.

[2018-03-12 02:41] qiuzhong commented on #64
We should figure out why before a publisher node sending this `JointState` type message, the `JSON.stringify` works:
[code]

While a subscription node received this message, then the `JSON.stringify` didn't work:

[code]

[2018-03-12 02:44] minggangw commented on #64
Sorry, I did not notice the `position` as an array, I did a quick check and found a possible cause here
https://github.com/RobotWebTools/rclnodejs/blob/develop/lib/message_translator.js#L143.

Thanks for finding this undetectable problem.

[2018-03-13 09:52] minggangw commented on #64
I found the reason why we got, something like `"position":{"0":1,"1":2}` here. That is because if the type of an array is primitive which may be any of 'int8', 'uint8', 'int16', 'uint16', 'int32', 'uint32', 'float64', 'float32', 'char' and 'byte', `rclnodejs` will use [**TypedArray**](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray) to represent them. Pl

[2018-03-14 03:08] qiuzhong commented on #64
This sounds reasonable. As when an array is converted to an object when the indexes become the keys automatically. The object can still behaves like the array. This is not perfect but it can work.

[2018-03-14 03:29] qiuzhong opened #68 "call_service operation arguments incompatible with spec"
According to the [rosbridge protocol call_service section](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#346-call-service)

[code]

There are two problems of current implementation:

[code]

* The spec asks for list of JSON object, however current implementation assumes `args` as an object and access `request` property directly.

* The spec never guarantees th

[2018-03-14 06:00] minggangw commented on #64
So let's close this issue.

[2018-03-14 06:00] #64 closed, assigned to nobody

[2018-03-14 08:35] qiuzhong opened #69 "Web socket seems blocked after sending more than 3 call_service requests"
For the `call_service` operation, sending a request more than 3 times can cause a bridge client blocked. Here are the steps:

* Start the rosbridge server
[code]

* Running the  client for 4 times:
[code]

We get this output for 1/2/3 time to run it.
[code]
However, for the 4th time, the client hangs and cannot receive the service response:
[code]

[2018-03-14 08:54] qiuzhong opened #70 "Bridge server cannot be shutdown by CTRL + C at some condition"
Fork from #69 , at some condition, especially sending some requests to the bridge server. Then the bridge server cannot be shutdown by `CTRL + C`. You have to send `SIGTERM` signal to kill the bridge server.

![screenshot from 2018-03-14 16-54-38](https://user-images.githubusercontent.com/11829497/37392107-2d9af312-27a8-11e8-8b45-ed5bf53f8506.png)

In he screenshot above, sending `CTRL + C` severa

[2018-03-16 06:31] qiuzhong opened #72 "Both ros1 and ros2 message or interface types support"
This proposal comes from the bridge client to interact with the `rclnodejs`.

In ROS1, like `roslibjs` the message or interface type is defined as `std_msgs/String`, `example_interfaces/AddTwoInts`.

In ROS2, like `rclnodejs`, the message or interface types is defined as `std_msgs/msg/String`, `example_interfaces/srv/AddTwoInts`.

Currently, the bridge server will assume all the message or interfa

[2018-03-16 10:31] vincentrou opened #73 "Implementation of ros2-api"
It would be interesting to have the [rosapi](https://github.com/RobotWebTools/rosbridge_suite/tree/develop/rosapi) in ros2.

But what is the best way to do it ?

- a dedicated python package/node that respond to services like in ros1
- a dedicated nodejs package/node that respond to services
- a direct integration in ros2-web-bridge, so it does not go through services; it ask directly to rclnodejs

[2018-03-19 07:02] qiuzhong opened #77 "Failed to call destroyService when receiving unadvertise_service op request"
`unadvertise_service` operation request is mapped to `destroyService` of `rclnodejs` in current rosbridge implementation. Here it is:

[code]

Web socket test code:

[code]

When running the test code, we got this bridge log:
[code]

As we see, the `this._nodeManager` is undefined and the calling of `destroyService` failed.

[2018-03-20 02:25] qiuzhong opened #78 "service_response should be considered as a response operation"
According to the [spec](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#2-the-rosbridge-protocol): `service_response` should be a response operation, which means it not considered as a request operation. Because it contains some necessary fields that cannot get from the request side.

[code]
As a web socket client cannot get the result. Meanwhile, from the `call

[2018-03-20 08:08] qiuzhong opened #80 "AppVeyor CI failed due to permission"
Error log from AppVeyor CI:

[code]

[2018-03-22 02:18] #80 closed, assigned to nobody

[2018-03-22 02:58] minggangw commented on #63
The parameters which do not exist in ROS 2 will not affect the functionalities of the `ros2-web-brige` and those ones will be ignored. So I think we can close this issue now.

[2018-03-22 03:21] minggangw commented on #73
Hi @vincentrou

Thanks for your suggestion. The clients designed for ROS2 are based on [rcl](https://github.com/ros2/rcl), so I think we'd better just bind the core client library other than introduce other functions in Node.js client. As you said, you can implement a simple ROS node as a service to offer what you want to grab :)

Currently we are implementing the [rosbridge v2 protocol](https://g

[2018-03-22 03:30] minggangw commented on #72
Do you mean the `ros2-web-bridge` can accept the type `example_interfaces/srv/AddTwoInts` and `example_interfaces/AddTwoInts` simultaneously?

[2018-03-22 05:01] minggangw commented on #78
If a service was created through `roslibjs` and when it received a request and sent the response back to the bridge, the `service_response` operation will be used, please see https://github.com/RobotWebTools/roslibjs/blob/3bc4ec2f08f2a1410e9af2959155f216943c790e/src/core/Service.js#L108

So the bridge may receive `service_response` and forward it to the client.

[2018-03-22 05:04] minggangw commented on #65
Would you please check if the `roslibjs` can support the `id` section, as `roslibjs` is the only JavaScript library we can use.

[2018-03-22 05:05] qiuzhong commented on #63
So this will not be fixed?

[2018-03-22 05:06] qiuzhong commented on #72
Yes. This is more convenient.

[2018-03-22 05:07] minggangw commented on #68
This problem has been mentioned in [README](https://github.com/RobotWebTools/ros2-web-bridge#compability-with-rosbridge-v20-protocol).

[2018-03-22 05:08] minggangw commented on #72
Good idea, I will implement it.

[2018-03-22 05:10] minggangw commented on #63
Yes, because the current protocol is designed for ROS1 and we can not redefine it. Maybe we can have an update version in the future.

[2018-03-22 05:13] minggangw commented on #70
I will try to reproduce it and investigate, thanks!

[2018-03-22 05:13] #63 closed, assigned to nobody

[2018-03-22 05:37] qiuzhong commented on #68
Since this incompatibility is listed in the README, close this issue.

[2018-03-22 05:37] #68 closed, assigned to nobody

[2018-03-22 05:51] qiuzhong commented on #65
I checked the examples by launching two subscription.html instances. They have the same id when sending request to create subscription. So I guest `roslibjs` doesn't require `id` section when calling the API but it will construct the `id` field automatically.

[code]

And both instances work well.

[2018-03-22 06:02] qiuzhong commented on #78
You're right. I was confused by the [spec](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#2-the-rosbridge-protocol):

I checked the `service.html` and `client.html` and the `service_response` is considered as a request by `roslibjs` to send the result to the bridge. This procedure is automatically called by `roslibjs` and basically a third-party client (like th

[2018-03-22 06:06] qiuzhong commented on #78
Or `service_response` can be both `request` and `response` operations?

[2018-03-22 06:36] minggangw commented on #78
I think the `Response messages` mentioned in the spec is a general conception, which means the response sent by the client.

`service_response` as an operation code can be generated by both `roslibjs` and the `bridge`, which is not clarified in the spec. I think the spec mingled these two things.

[2018-03-22 06:41] qiuzhong commented on #78
That's clear. Thanks! Close it.

[2018-03-22 06:41] #78 closed, assigned to nobody

[2018-03-22 08:32] minggangw commented on #69
I always got crash the second time I ran the test

[code]
Have you met this before @qiuzhong ?

[2018-03-22 08:38] qiuzhong commented on #69
Yes. This happened many times. But sometimes I encountered this as well:
[code]

Without explicit error log.

[2018-03-22 09:42] minggangw commented on #69
You can execute to `gdb node -c core` debug it and get the same call stack as above.

[2018-03-22 09:43] #72 closed, assigned to minggangw

[2018-03-22 10:41] minggangw commented on #69
Which version of node.js are you using? @qiuzhong

[2018-03-23 01:16] qiuzhong commented on #69
I tried with `Node.js  8.10.0`.

[2018-03-23 05:38] minggangw commented on #69
Hi @qiuzhong would you please install the `rclnodejs` module by:

[code]

I tested on it and found the case can pass, I suppose the problem is caused by https://github.com/RobotWebTools/rclnodejs/commit/5c2aa454492149b1b8ec250d6526e2d893aa2a84 which has already been fixed on the `develop` branch.

If the case can pass, I suggest publishing a bug fix release of `rclnodejs` on npmjs then. Thanks!

[2018-03-23 05:44] qiuzhong commented on #69
You mean you never encounter crash after you npm install with latest `rclnodejs`? I'll try it soon.

[2018-03-23 05:45] minggangw commented on #69
Yes, the crash never appeared again.

[2018-03-23 06:25] qiuzhong commented on #69
@minggangw , I uninstall `rclnodejs` and `npm install` with URL way. The crash still happened. However, for the first time after installation, it seems quite well to run the client above (It didn't crash for running the client more than 4 times and I almost thought it's fixed). But when I exit the terminal and open terminal/load ROS2 envionments/run the client, the crash came back again.

I wonder

[2018-03-23 06:33] minggangw commented on #69
I build ROS from source, I think we'd better use the same [binary package](https://ci.ros2.org/view/packaging/job/packaging_linux/lastSuccessfulBuild/artifact/ws/ros2-package-linux-x86_64.tar.bz2) to test.

[2018-03-23 07:26] qiuzhong commented on #69
@minggangw , I tried the binary package. Crash still exists but there is some possibility that it doesn't crash for a second time to run the client, after that the crash never occurs.

[2018-03-26 02:38] minggangw commented on #68
The [PR](https://github.com/RobotWebTools/roslibjs/commit/47336faa701ff1d7c3cda3f8a824ca6db62feb48) which will resolve this incompatibility has been merged, hopefully we can eliminate this issue when next release of roslibjs is on board.

[2018-03-26 02:44] qiuzhong commented on #68
So the `roslibjs` will provide the `type` field when sending a `call_service` now? So we can assume the `call_service` requests contain the `type`?

[2018-03-26 02:55] minggangw commented on #68
Yes, the `call_service` command (JSON string) will contain the information of the service type it requests.

[2018-03-29 05:53] qiuzhong opened #86 "Rclnodejs dependency crashed when destroying bridge client"
The bridge crashed when a web socket client is destroyed. Deeply, the `rclnodejs` crashed during destroying this client. We believe that some tricky issues are caused by this crash: #58, #67, #69.

[2018-03-29 05:53] qiuzhong commented on #86
@minggangw , please take a look.

[2018-03-29 06:06] minggangw commented on #86
I will take this issue, thanks!

[2018-03-29 07:50] qiuzhong opened #87 "More strict check for topic of all unsubscribe-related operations"
All the `unsubscribe`-related operations: `unsubscribe` and `unsubscribe_service` should be treated as more strict check, like type checking or whether the topic exists.

Here is the current implementation of `unsubscribe` operation.
[code]

This is simply hands the control to the `resourceProvide` during `unsubscribe` and it only handles the normal branch: when this topic exists.

[code]

As a re

[2018-04-02 02:50] minggangw commented on #86
rclnodejs [v0.3.5](https://www.npmjs.com/package/rclnodejs) has been published on npmjs, please verify this issue again, thanks!

[2018-04-02 02:50] minggangw commented on #70
rclnodejs [v0.3.5](https://www.npmjs.com/package/rclnodejs) has been published on npmjs, please verify this issue again, thanks!

[2018-04-02 02:51] minggangw commented on #69
rclnodejs [v0.3.5](https://www.npmjs.com/package/rclnodejs) has been published on npmjs, please verify this issue again, thanks!

[2018-04-02 02:51] minggangw commented on #67
rclnodejs [v0.3.5](https://www.npmjs.com/package/rclnodejs) has been published on npmjs, please verify this issue again, thanks!

[2018-04-02 03:06] qiuzhong commented on #86
Sure! I'll run the CI with new release of `rclndoejs` and clarify this bug.

[2018-04-02 03:31] qiuzhong commented on #69
The test case of this issue is used in PR#76, which is passed and this issue is fixed now.

[2018-04-02 03:32] qiuzhong commented on #69
Closing it.

[2018-04-02 03:32] #69 closed, assigned to nobody

[2018-04-02 05:03] qiuzhong commented on #67
As PR #66 can pass now, this issue is fixed.

[2018-04-02 05:03] #67 closed, assigned to minggangw

[2018-04-02 05:07] qiuzhong commented on #58
This issue is not produced any more with the new `rclnodejs` version 0.3.5 release.

[2018-04-02 05:07] #58 closed, assigned to nobody

[2018-04-02 05:08] qiuzhong commented on #86
With the new release, this issue is not reproduced.

[2018-04-02 05:08] #86 closed, assigned to minggangw

[2018-04-02 05:12] qiuzhong commented on #70
This issue is not reproduced with the new release so far. Let's close it.

[2018-04-02 05:12] #70 closed, assigned to nobody

[2018-04-02 06:59] #77 closed, assigned to nobody

[2018-04-02 08:26] qiuzhong commented on #77
Fixed by #82

[2018-04-08 06:15] #87 closed, assigned to nobody

[2018-04-08 06:34] qiuzhong commented on #87
Verified as PR #89 comments.

[2018-04-13 06:06] qiuzhong opened #93 "set_level as a request operation"
According to the [protocol spec](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#321-set-status-level--status_level--experimental), `set_level` is a response operation from the `ros2-web-bridge` to the `roslibjs`.

However, there is a API in `roslibjs`: [Ros.setStatusLevel](https://github.com/RobotWebTools/roslibjs/blob/develop/src/core/Ros.js#L143)

[code]

Thi

[2018-04-16 02:37] minggangw commented on #93
In the  protocol spec [3.2](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md#32-status-messages)

@qiuzhong have you find any code path which triggers the `setStatusLevel` function in roslibjs? This operation should not be executed by client side as I understand.

[2018-04-16 05:40] qiuzhong commented on #93
@minggangw , no, I didn't found any place that calling `Ros.setStatusLevel()` in roslibjs. It's just an exposed API of rclnodejs. I thought if this API comply the spec, then bridge should support `set_level` as a request and vice versa.

So you think this API conflicts with the spec?

[2018-04-18 05:53] minggangw commented on #93
I have no idea why the `roslibjs` implemented this interface.

[2018-04-18 06:25] vincentrou opened #95 "Cannot call a service with empty argument"
For now the service type is deduce from the args type.
But it should be possible to [call service with empty args](https://github.com/RobotWebTools/rosbridge_suite/blob/f0d359797eb90b322e5eb23cfda89ea7a9aceac8/ROSBRIDGE_PROTOCOL.md#346-call-service)

To make it works, it needs to find the service type from the service name ([like in ROS1](https://github.com/RobotWebTools/rosbridge_suite/blob/devel

[2018-04-19 00:58] qiuzhong commented on #95
Please refer to #68 and this [PR](https://github.com/RobotWebTools/roslibjs/pull/282) in roslibjs

[2018-04-19 06:33] vincentrou commented on #95
Ok sorry I did not saw this PR and issue.
So you added the type field in the json. This will be an optional field ? What will you do if you have not the type, you will still look for the args ?
I was thinking that it should be doable by warping the [rcl_get_service_names_and_types](https://github.com/ros2/rclpy/blob/35275fac1e2136867549496de98060faee36a0a3/rclpy/src/rclpy/_rclpy.c#L2630) in rclnod

[2018-04-19 07:46] qiuzhong commented on #95
@minggangw , would you please take a look.

[2018-04-19 09:03] minggangw commented on #95
@viktorku by calling the graph function [rcl_get_service_names_and_types](https://github.com/ros2/rcl/blob/d41c923927850274f63aee1bde565d3a8266a7bd/rcl/include/rcl/graph.h#L127), developer can get the detailed information of the designated `node`.

Here the bridge has a different scenario that the bridge itself can not obtain the `rcl_node_t` pointer e.g. a service offered by another node (I do no

[2018-05-07 02:40] qiuzhong opened #97 "Put the script section at the bottom of the body element for examples"
Currently the example html files are all like this:

[code]

We suggest to put the inline JavaScript code at the bottom of the body element. The inline JavaScript code contains DOM operations. If there is only async code, it might be fine. But if there is only sync code, it will raise errors. In brief, to avoid any errors, we suggest to put the inline code at the bottom.

[2018-05-18 05:25] minggangw commented on #95
I'd like to close this issue as there is now update since last month.

[2018-05-18 05:25] #95 closed, assigned to nobody

[2018-05-30 03:06] qiuzhong opened #98 "Failed to receive complex type message via bridge"
Let's say we send and receive complex type message like `sensor_msgs/Image`, here is the code based on
[roslibjs]():

[code]

Since there is no way to construct the message object and assign member for it, we can only publish message data in JavaScript object notation way, like above.

However, the subscriber failed to receive the message. We found the subscriber callback was never called and and

[2018-05-30 03:07] qiuzhong commented on #98
Move to `ros2-web-bridge` repo: [#98](https://github.com/RobotWebTools/ros2-web-bridge/issues/98)

[2018-06-05 05:23] qiuzhong opened #99 "actionlib feature integrated"
Many roslibjs APIs depend on the `actionlib` feature, which is implementing in `rclnodejs` at present. Since `rclnodejs` is a dependency of `ros2-web-bridge`, when this feature is implemented,  the bridge should integrate it seamlessly.

[2018-07-28 07:22] minggangw commented on #99
The `roslibjs` designed for ROS 1.0 implemented the `actionlib` feature within its own [code](https://github.com/RobotWebTools/roslibjs/tree/develop/src/actionlib). While the `actionlib` to be implemented is handled within `rclnodejs`, which is different from the way of the current bridge. As the current [rosbridge protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_P

[2018-07-28 14:22] minggangw commented on #98
We got this error because the JSON doesn't have a representation of  [typed array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays), e.g.

[code]

That is why we can't get the `typed array` back within the bridge.

[2018-07-30 06:37] minggangw commented on #98
One solution is that we can regress the typed array to the normal ones, so the array can be serialized to JSON correctly. In this way, we have to concern the inefficiency.

[2018-08-08 05:19] minggangw opened #103 "Prepare the demonstration for the usage of bridge"
We would like to add a demonstration to show the usage of current bridge based on ROS 2.0.

[2018-08-08 06:32] qiuzhong commented on #103
So what're the outputs for this feature?

The following items come to my mind now:
* JavaScript code snippet based on the rosbridge v2 protocol operations.
* README for all these examples

Any good suggestion?

[2018-08-08 06:38] minggangw commented on #103
I suggest we can submit our demonstration which is prepared for ROSCon2018 to this repo, so every user from beginner to veteran can have a blueprint what this module can offer and do.

[2018-08-08 06:42] qiuzhong commented on #103
Got it.

[2018-08-15 09:03] minggangw commented on #98
I have submitted https://github.com/RobotWebTools/rclnodejs/pull/409 to [rclnodejs](https://github.com/RobotWebTools/rclnodejs) to add an option to disable TypedArray. After it is landed, I will submit another PR to make the change in ros2-web-bridge accordingly.

[2018-08-16 06:29] minggangw commented on #98
Hi @qiuzhong Would you please test this issue base on #104, and assure to assign using **Array**, like:

[code]

[2018-08-16 07:00] qiuzhong commented on #98
Sure. I'm testing this.

[2018-08-16 07:29] qiuzhong commented on #98
@minggangw , I tried the sample based on PR104 above. The data was assign with using **Array**. The error was gone! So I think it fixed the issue.

I wonder if we should never use the code of style like this:
` data: Uint8Array.from(uint8Data)`

[2018-08-16 07:50] minggangw commented on #98
data: Uint8Array.from(uint8Data)

If you use roslibjs to invoke the `rclnodejs`, you have to abandon the code like that.

[2018-08-16 08:11] #98 closed, assigned to nobody

[2018-08-21 11:43] lxbeyond opened #106 "“npm install” error"
I git clone this rep, and I run "npm install", then get the error:
npm install

make: Entering directory '/home/hzh/xinliu/ros2-web-bridge/node_modules/ref/build'
  CXX(target) Release/obj.target/binding/src/binding.o
../src/binding.cc: In function ‘void init(Nan::ADDON_REGISTER_FUNCTION_ARGS_TYPE)’:
../src/binding.cc:643:8: warning: ‘Nan::Maybe<bool> Nan::ForceSet(v8::Local<v8::Object>, v8::Local

[2018-08-22 01:36] qiuzhong commented on #106
This error occurred because the `COLCON_PREFIX_PATH` environment variable is not set while install the `rclnodejs` dependency.  Please check if had loaded the ROS2 environment? Please check it by: `$ echo $AMENT_PREFIX_PATH`.

[2018-08-22 02:21] lxbeyond commented on #106
I use the ros2 bouncy， after I source the local_setup.bash, AMENT_PREFIX_PATH was set, but I still get the error :
$ npm install

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG

[2018-08-22 03:09] qiuzhong commented on #106
This is a frequent [error](https://github.com/RobotWebTools/rclnodejs/issues/396) recently. This root cause is RCL native APIs changed after ROS2 bouncy release and `rclnodejs` always keeps aligned with the latest RCL native APIs. This is a little annoying. You can:

* Use old version of `rclnodejs` that works with ROS2 bouncy, we don't recommend as there are bugs not fixed in old version.
* Use l

[2018-08-22 03:32] minggangw commented on #106
@lxbeyond If you have to build against bouncy release, I recommend that you install the `rclnodejs` from Github which locates at https://github.com/RobotWebTools/rclnodejs/tree/bouncy-bolson, it should work well. Thanks!

[2018-08-22 03:36] lxbeyond commented on #106
I build rclnodejs well from github bouncy-bolson branch, but error when build ros2-web-bridge , and I do not konw how to make ros2-web-bridge to use rclnodejs of bouncy-bolson version . @minggangw

[2018-08-22 03:48] minggangw commented on #106
You could change your [package.json](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/package.json#L46)

[code]

please reference the [document](https://docs.npmjs.com/files/package.json#github-urls) of npm to change it to Github url, hope it works.

[2018-08-22 04:47] lxbeyond commented on #106
I changed package.json
"rclnodejs": "git://github.com/RobotWebTools/rclnodejs.git#bouncy-bolson",
and it works, thanks @minggangw  @qiuzhong

[2018-08-22 04:53] minggangw commented on #106
So I think this issue can be closed now, feel free to reopen if you meet any problem in the future. Thanks!

[2018-08-22 04:53] #106 closed, assigned to nobody

[2018-09-13 11:41] lxbeyond opened #108 "run example "subscription.html" error"
I test example as READ.me, run the command as follow:
      DEBUG=ros2-web-bridge:* node bin/rosbridge.js
      node ./index.js
and open "http://localhost:3000/html/subscription.html" ,then I get  following ouput:
`
ros2-web-bridge:index The ros2-web-bridge has started. +0ms
The web socket server started on ws://localhost:9090
  ros2-web-bridge:Bridge Web bridge 7b683e66-89d1-45ed-a537-f404790d325

[2018-09-14 01:45] qiuzhong commented on #108
Just tried the example with a recent ros2 package from CI and I couldn't reproduce this error.

@lxbeyond , what ros2 release package did you use?

[2018-09-14 01:47] lxbeyond commented on #108
I apply this demo in ros2 bouncy

[2018-09-14 01:49] lxbeyond commented on #108
and I run demos in rclnodejs in ros2 bouncy well

[2018-09-14 02:02] qiuzhong commented on #108
I failed to install ros2-web-bridge with the ros2 bouncy release. Would you please try to apply the ros2 package from [CI](https://ci.ros2.org/view/packaging/job/packaging_xenial_linux/lastSuccessfulBuild/artifact/ws/ros2-package-linux-x86_64.tar.bz2)

[2018-09-14 02:04] lxbeyond commented on #108
to install ros2-web-bridge with the ros2 bouncy release, you should change the package.json
"rclnodejs": "git://github.com/RobotWebTools/rclnodejs.git#bouncy-bolson"

[2018-09-14 02:05] lxbeyond commented on #108
I tride publisher.html example, and it worked.

[2018-09-14 02:24] minggangw commented on #108
Hi @lxbeyond there are already [two patch releases](https://github.com/ros2/ros2/releases) of Bouncy since it was published. The current branch named [bouncy-bolson](https://github.com/RobotWebTools/rclnodejs/tree/bouncy-bolson) has been verified on the first release of bouncy through passing all unit tests.

As the ROS2 moves swiftly, we will not maintain other branches, say, backport the patches

[2018-09-14 03:11] qiuzhong opened #109 "Header members incorrespondence"
In roslibjs, we found the `builtin_interfaces/Time` members are `secs` and `nsecs`. While in ROS2, the members are `sec` and `nanosec`. When we work the bridge with roslibjs, there will be errors in the log of bridge. Which side should be updated to keep correspondence?

[2018-09-14 03:11] qiuzhong commented on #109
@minggangw

[2018-09-14 03:28] minggangw commented on #109
We must follow the definition of ROS 2 for the [Time](https://github.com/ros2/rcl_interfaces/blob/master/builtin_interfaces/msg/Time.msg) in order to use the right JavaScript message.

[2018-09-14 05:36] lxbeyond commented on #108
I locate the error, and found it works when change the line https://github.com/RobotWebTools/ros2-web-bridge/blob/fa57972b5f4af998dc5b737094db34a84599b50c/lib/subscription_manager.js#L57 :
from
`
 let subscription = this._node.createSubscription(messageType, topicName, {enableTypedArray: false}, (message) => {
        this._subscripions.get(topicName).callbacks.forEach(callback => {
          call

[2018-09-14 05:45] minggangw commented on #108
Would you please check the version of your `rclnodejs` used under `node_modules` folder?

[2018-09-14 06:54] qiuzhong commented on #109
Should I file an issue for this in roslibjs repo? I'm not sure if roslibjs is responsible to work with ROS2.

[2018-09-14 07:03] minggangw commented on #109
I don't think this is a bug for roslibjs, as it originates in the change of .msg definition.

[2018-09-14 07:14] lxbeyond commented on #108
I checked the version , the rclnodejs used under node_modules folder is the same to git://github.com/RobotWebTools/rclnodejs.git#bouncy-bolson

[2018-09-14 07:25] lxbeyond opened #110 "does ros2-web-bridge support to pub or sub msgs created by user ?"
I want to use ros2-web-bridge to transport msgs created by myself, but a error occurs as follow:
`
ros2-web-bridge:Bridge Exception caught in Bridge.executeCommand(): Error: The message required does not exist: entity_msgs, msg, EntityMsg
`
@minggangw

[2018-09-14 08:01] minggangw commented on #108
The `ros2-web-bridge` depends on `rclnodejs`, but we only adapt the `develop` branch other than `bouncy-bolson`.

So the ros2-web-bridge `develop` may be incompatible with non-`develop` branch of rclnodejs, as you have met.

[2018-09-14 09:55] minggangw commented on #110
Yes, it supports. The process of generating the messages from user defined `.msg` or `.srv` is handled by `rclnodejs`, not the ros2-web-bridge. To achieve this, please add the path of your `.msg` files to the `AMENT_PREFIX_PATH` variable.

If you add these `.msg` files after the installation of ros2-web-bridge, you have to manually reinstall the `rclnodejs` which will trigger the generation again.

[2018-09-19 08:26] minggangw commented on #108
I am going to close this issue, as it was caused by the incompatibility of using a wrong branch of `rclnodejs` with `ros2-web-bridge`. Feel free to reopen it if any other problem.

[2018-09-19 08:26] #108 closed, assigned to nobody

[2018-09-19 08:28] minggangw commented on #110
I am going to close this issue, @lxbeyond please feel free to reopen it if you still cannot to create the messages defined by yourself.

[2018-09-19 08:28] #110 closed, assigned to nobody

[2018-09-19 08:29] minggangw commented on #103
I think we can mark this issue as **done** now, I am going to close it.

[2018-09-19 08:29] #103 closed, assigned to qiuzhong

[2018-09-19 08:31] minggangw commented on #109
As this issue is caused by the different definition of ROS 2 from ROS 1,  I am going to close it, thanks!

[2018-09-19 08:31] #109 closed, assigned to nobody

[2019-02-22 14:30] LukasPoque opened #112 "Subscriber example not working"
### System Information
Windows 10, ROS2 [Bouncy Bolson]

### Problem
When i run the basic example listener

` http://localhost:3000/html/subscription.html`

and the basic example publisher

` http://localhost:3000/html/publisher.html`

the listener can't recive any message.

The debug log shows that there is an error when the subscriber attached :

[code]

The publisher works correct?:

[code]

##

[2019-03-02 19:34] azazdeaz opened #113 "npm i in docker says: cannot convert ‘rcutils_allocator_t’ to ‘rcl_context_t*’"
Hi, i get the following error when i try to npm install in the [official ros2 docker image](https://hub.docker.com/r/osrf/ros2/):
[code]
logs with [node 8](https://pastecode.xyz/view/9cd62415) and [node 11](https://pastecode.xyz/view/8cfdbb22)

rclnodejs@0.9.0 seems to [install fine](https://pastecode.xyz/view/f13146b5)

ros2-web-bridge version: 0.2.5

How should i continue debugging this?

[2019-03-20 22:48] robotpilot commented on #113
Hi @minggangw ,
I have the same error. Do you know how to fix it?

[2019-03-21 05:07] minggangw commented on #113
Sorry for the late response @azazdeaz @robotpilot

I checked the error, it seems that it's the incompatibility problem caused by the rcl interface change. So would you please check the release of ROS 2.0 you used in the docker image, and you can find the current official releases at https://github.com/ros2/ros2/releases.

The 0.9.0 should work with the latest crystal patch release3. Through your e

[2019-03-30 17:22] azazdeaz commented on #113
Thanks! Unfortunately, i get the same error with a newly built image. (I couldn't figure out how to tell the release number from the downloaded binaries ( ? :) ) but it should pull the latest during docker build. )

[2019-04-01 02:54] minggangw commented on #113
I see. I suggest you install `rclnodejs` from github directly, e.g. open the `package.json` of your app, and add the line below to replace the original dependency:

```"rclnodejs": "RobotWebTools/rclnodejs"```

This should curb the compiling error.

[2019-04-10 06:19] minggangw opened #114 "Install rclnodejs which can work on the latest stable release of ROS 2"
Currently, the web bridge installs the latest version of `rclnodejs` as its back end to access the ROS 2, which may not work on the latest stable release of [ROS 2](https://github.com/ros2/ros2/releases). e.g. compiling error #113

So we'd better install the rclnodejs which works well on the latest ROS 2 stable release, to achieve that, we have to update two files:

- `dependencies` section of [pa

[2019-04-11 01:57] #114 closed, assigned to nobody

[2019-04-13 11:09] azazdeaz commented on #113
Thank you! The install finishes without error with
ros2-web-bridge - https://github.com/RobotWebTools/ros2-web-bridge/commit/2fef243963ee1ad7a0a0568eda2d430f8729f5d1
rclnodejs - https://github.com/RobotWebTools/rclnodejs/commit/d63edca186997e6c682fc690218ab3f06b245a30
ros2 image - [april11 nightly build](https://hub.docker.com/r/osrf/ros2/tags)

[2019-04-13 11:09] #113 closed, assigned to nobody

[2019-04-18 20:06] dejanpan opened #117 "ros2-web-bridge and rosbridge_suite"
I learnt today that we have 2 similar projects going:
1. https://github.com/RobotWebTools/ros2-web-bridge
1. https://github.com/RobotWebTools/rosbridge_suite

On the high level they both seem to be doing the same thing: support websockets and bidirectionally communicate with ROS. The only exception that ros2-web-bridge works for ROS 2 and rosbridge_suite (currently) for ROS 1.

Is this correct? If

[2019-04-18 20:06] dejanpan commented on #117
@minggangw

[2019-04-19 03:17] minggangw commented on #117
Yes, the functions are the same, except `ros2-web-bridge` is designed for ROS2. As for merging them into one project, well I think it's impossible because the backends (ROS1 is python implementation, ROS2 is JavaScript implementation) for them are different.

The reason why they can somehow do the same thing is that they follow the same [protocol](https://github.com/RobotWebTools/rosbridge_suite/b

[2019-04-20 07:24] shmily-skx opened #118 "Can i use npm install ros2-web-bridge ro install it?"
I have already installed ROS2 and need to use ros2-web-bridge, but I don't know how to use it. After installing nodejs and npm, enter the command npm install. Then move to the ros2-web-bridge folder under clone and run the node bin/rosbridge.js command? But I am prompted to have an error.

[2019-04-20 08:34] minggangw commented on #118
Thanks for your question. I think about some steps you should check:

- Have you source the `.bash` file before starting (please reference installation of ROS 2 at [here](https://index.ros.org/doc/ros2/Installation/))
- If you want to install by `npm`, please run `npm i ros2-web-bridge` under the folder of your own app or add it as dependency in your `package.json` file.
- Finally, you can follow

[2019-04-20 09:09] shmily-skx commented on #118
I have the following problem
![image](https://user-images.githubusercontent.com/22151021/56455248-8b97d480-638e-11e9-98d8-c9120ebd236d.png)

[2019-04-20 12:37] minggangw commented on #118
Please follow the steps https://index.ros.org/doc/ros2/Installation/Linux-Install-Binary/#try-some-examples to see if the ros2 example can work properly.

Then run `echo $AMENT_PREFIX_PATH` to check if the env variable is set.

[2019-04-26 21:18] rukie opened #119 "Ubuntu NodeJS + npm"
Is there any reason you suggest installing NodeJS and npm from sources, rather than what's available through Ubuntu's package repository?

I would think this would be easier for more users.

[code]

[2019-04-26 21:23] rukie commented on #119
Although it seems like that conflicts with a ros-crystal installation.... kinda defeating the purpose there huh.

[2019-04-26 21:47] rukie commented on #118
I also get this error.
From the log file:
[code]
I'm running a clean 18.04 install with ROS2 Crystal. I've verified the talker and listener example scripts run.

I installed NVM per the git instructions:
[code]
I added these lines to my ~/.bashrc

[code]

I installed node.js with
[code]

then I cloned and attempted to install ros2-web-bridge
[code]

and during node-gyp rebuild...
[code]

[2019-04-29 05:50] minggangw commented on #118
Hi @rukie would you please check the nodejs version you installed, you can reference below:

[code]

[2019-04-29 06:38] minggangw commented on #119
Sorry for the late response, the reason why we suggest to install the nodejs through [nvm](https://github.com/nvm-sh/nvm) or download the latest LTS version is that this bridge leverages [rclnodejs](https://github.com/RobotWebTools/rclnodejs) as a backend to access the ROS2, and rclnodejs is actually an C++ addon which does the binding of C library (here is [rcl](https://github.com/ros2/rcl)) to J

[2019-04-29 13:37] rukie commented on #118
That worked! Thank you.
This would be the complete documentation of my install, if it helps anyone:

Install NVM per their site's instructions.
[code]
Add these lines to your ~/.bashrc

[code]

Install node.js with:
[code]

Clone ROS2-web-bridge
[code]

Check version and install ROS2-Web-Bridge
[code]

[2019-04-29 14:07] rukie commented on #119
Thanks for the background!

[2019-04-29 14:07] #119 closed, assigned to nobody

[2019-04-29 20:24] rukie commented on #110
I could use a little direction here. I'm trying to add ackermann msgs that I used in ROS1 to a Unity environment. It doesn't look like Ackermann is in ROS2 yet.

[2019-04-30 02:31] minggangw commented on #110
If you want to leverage a customized msg, the usage is different from ROS1. The general steps I can think about are:

- Create a project to compile your `.mg/.srv` by `colcon` to get corresponding C library, you can reference the example [here](https://github.com/ros2/example_interfaces) (e.g. `colcon build`)
- Execute `source install/local_setup.bash` for your generated messages
- If you have run

[2019-04-30 13:18] rukie commented on #110
So I was able to get a new message to compile. I sourced it. Running ros2 msg list, my ackermann message shows up. ros2 msg show gives me the info on it.

Trying
[code]

gives me
[code]

[code]
gives me
[code]

and
[code]
gives me
[code]

And now I'm all kinds of confused.

[2019-04-30 13:32] minggangw commented on #110
Did you source your `.bash` for your ROS2? It seems that the headers cannot be found through your path env.

[2019-04-30 14:18] rukie commented on #110
Full context:
I initially installed ROS2 with apt binaries and that functioned fine.
I wanted to create a new message, and couldn't compile without FASTRTPS, so I compiled ROS2 from source. I removed /opt/ros/crystal from my .bash script, and instead source ~/ros2_ws where it was compiled. My ackermann message is compiled in a different folder, ~/ackermann.

I source ~/ros2_ws, and source ~/ackerm

[2019-04-30 14:51] minggangw commented on #110
Thanks for your detailed information, if you build your ROS2 from scratch, you have to use the flag `--merge-install` which will install all packages into a combined directory. Finally, source the `local_setup*`.

[2019-04-30 16:01] rukie commented on #110
Thank you for all the  help, sorry this isn't directly related to ros2-web-bridge anymore.
I've done the following:
[code]
with no issues, followed by
[code]
and I get
[code]

I guess I'm still not sure what merge-install does exactly.

After reading about [overlays](https://answers.ros.org/question/292566/what-is-the-difference-between-local_setupbash-and-setupbash/) I'm pretty confident I'd want

[2019-05-29 03:17] ErijBNT opened #120 "Error npm install"
I am  always getting this error while running npm install
![Screenshot from 2019-05-29 04-13-35](https://user-images.githubusercontent.com/27079391/58526832-4d30d900-81c8-11e9-9aeb-9f32bf4a4372.png)

[2019-05-29 03:27] ErijBNT opened #121 "run the ros bridge error"
![Screenshot from 2019-05-29 04-26-08](https://user-images.githubusercontent.com/27079391/58527272-ef04f580-81c9-11e9-8bb1-bcfff43a437c.png)

[2019-05-29 23:55] slessans opened #122 "Integrate topic and node discovery directly into bridge?"
I was wondering why the design leaves out discovery operations such as listing topics, nodes, services, etc. It seems like (by looking at the client library) that the bridge is designed to handle these operations by passing services calls off to a rosapi node rather than handling these requests itself.

I don't quite see what the upside of this is. It seems like it requires the user to run a separ

[2019-06-04 21:30] #122 closed, assigned to nobody

[2019-07-17 10:16] ZuumaCoder opened #123 "您好，王先生，我遇到了安装错误的问题，请您帮助解决！谢谢！"
![image](https://user-images.githubusercontent.com/27922947/61367777-ed4cd980-a8be-11e9-9428-3531566a9783.png)

[2019-08-02 16:12] salsicha opened #124 "npm install "rcl/error_handling.h: No such file or directory""
Ubuntu: 18.04
ROS: ros-dashing
ROS2-web-bridge: latest 'develop' branch

"npm install" produces:
...
make: Entering directory '/home/up/repos/ros2-web-bridge/node_modules/rclnodejs/build'
  CXX(target) Release/obj.target/rclnodejs/src/addon.o
  CXX(target) Release/obj.target/rclnodejs/src/executor.o
../src/executor.cpp:17:10: fatal error: rcl/error_handling.h: No such file or directory
 #include <

[2019-08-09 17:46] mschlafly commented on #121
I am having this problem too. Did you ever find a solution?

[2019-08-11 15:00] minggangw commented on #123
Please try without _sudo_

[2019-08-11 15:04] minggangw commented on #124
Please double check with ```echo $AMENT_PREFIX_PATH``` to ensure that the include path has been added, thanks.

[2019-08-12 04:54] minggangw commented on #124
The latest version of ros2-web-bridge ([v0.2.7](https://www.npmjs.com/package/ros2-web-bridge/v/0.2.7)) has been released, which was verified on [travis-ci](https://travis-ci.org/RobotWebTools/ros2-web-bridge/builds/570655926?utm_source=github_status&utm_medium=notification) with [dashing patch release2](https://github.com/ros2/ros2/releases/tag/release-dashing-20190806). You can reference the con

[2019-08-12 04:54] minggangw commented on #123
The latest version of ros2-web-bridge ([v0.2.7](https://www.npmjs.com/package/ros2-web-bridge/v/0.2.7)) has been released, which was verified on [travis-ci](https://travis-ci.org/RobotWebTools/ros2-web-bridge/builds/570655926?utm_source=github_status&utm_medium=notification) with [dashing patch release2](https://github.com/ros2/ros2/releases/tag/release-dashing-20190806). You can reference the con

[2019-08-12 04:54] minggangw commented on #121
The latest version of ros2-web-bridge ([v0.2.7](https://www.npmjs.com/package/ros2-web-bridge/v/0.2.7)) has been released, which was verified on [travis-ci](https://travis-ci.org/RobotWebTools/ros2-web-bridge/builds/570655926?utm_source=github_status&utm_medium=notification) with [dashing patch release2](https://github.com/ros2/ros2/releases/tag/release-dashing-20190806). You can reference the con

[2019-08-12 04:55] minggangw commented on #120
The latest version of ros2-web-bridge ([v0.2.7](https://www.npmjs.com/package/ros2-web-bridge/v/0.2.7)) has been released, which was verified on [travis-ci](https://travis-ci.org/RobotWebTools/ros2-web-bridge/builds/570655926?utm_source=github_status&utm_medium=notification) with [dashing patch release2](https://github.com/ros2/ros2/releases/tag/release-dashing-20190806). You can reference the con

[2019-08-12 04:55] #118 closed, assigned to nobody

[2019-08-15 08:34] asatria2 opened #127 "npm install error with dashing patch 2 on Ubuntu Bionic"
Hi,
Tried to follow the step on the readme and the build server log, but run into problem.

Any help will be much appreciated. Thanks!!

[code]

[2019-09-23 13:40] ryo4432 commented on #124
I got the similar error and solved it.

Ubuntu: 18.04
ROS: ros-dashing
ros2-web-bridge: v0.2.7

In my case, before `npm install`, I removed the below script in my .bashrc and reopened the terminal in order to clear the `$COLCON_PREFIX_PATH`.
[code]
(`ros2_repo` is my local ros2 repository folder.)

I think that `$AMENT_PREFIX_PATH` is recognized as the include path when `$COLCON_PREFIX_PATH` is re

[2019-09-23 13:47] minggangw commented on #124
This has been fixed by https://github.com/RobotWebTools/rclnodejs/pull/508 on the latest rclnodejs [v0.10.2](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.10.2), I am going to upgrade the rclnodjs later.

[2019-10-16 14:53] ramezanifar opened #128 "Is there a "/connected_clients" topic?"
Hi,
I have few questions:
Q1)
In rosbridge_suite (for ros 1), there are two very useful topics namely
/client_count
/connected_clients
I don't find these two in ros2-web-bridge.  Do we have them here?

Q2)
When a client connects to the web socket server, in ros 1 bridge there are  echo messages showing that a client has connected or disconnected and what topics it has subscribed to. I don't get th

[2019-10-17 02:48] minggangw commented on #128
Hi @ramezanifar, thanks for your questions!

Unfortunately, ` ros2-web-bridge` doesn't offer these two topics now.

If you want to see what's going on as echo message, you can enable [debug](https://www.npmjs.com/package/debug):
`DEBUG=ros2-web-bridge:*`

Currently, we leverage [ws](https://www.npmjs.com/package/ws) to set up a server, do you want to use an external server? like: https://github.co

[2019-10-18 22:00] ramezanifar commented on #128
Thank you for the reply

Please consider them.

Where exactly do you put this line?  Is this a bash command?

Thank you

[2019-10-21 02:45] minggangw commented on #128
1. I'd like to add them if I have spare time :)
2. It's for the bash command, you can check out https://www.npmjs.com/package/debug for more information.

[2020-01-06 20:43] guru-florida opened #129 "getParam (and getParams) not returning anything"
Using Ros2 Web Bridge on ROS2 Eloquent:

I am calling getParam with a valid node name but not getting param data back. The callback is not executed. I do get plenty of subscription callbacks so the websocket and communication to ros2 web bridge is working fine. Inspecting the network tab details, I see that the request is properly going out but the web bridge is replying back with a non-descript e

[2020-01-08 06:15] minggangw commented on #129
Thanks for reporting this problem. The rosapi is not supported by this ROS2 bridge currently, please also see https://github.com/RobotWebTools/ros2-web-bridge/issues/73

[2020-01-08 07:25] guru-florida commented on #129
Ok, I figured out that the ros2 bridge is trying to send the param get/set request to a rosapi node that is part of ros2-web-suite. I tried getting that working and got it running but doesnt work. However, in the process learned a thing or two about managing ROS2 parameters via the get/set_parameter service calls on each node. The ros2-web-bridge has no problem calling services so I would say this

[2020-01-08 07:29] minggangw commented on #129
Absolutely, please submit your PR, thanks!

[2020-01-09 01:17] guru-florida commented on #129
Sounds good. I got param enumeration too. I will fork and integrate changes and take a week to test in my own system before submitting the PR. So give me a week's time. Thanks!

I will also be doing service calls for Node Lifecycle management so I may follow up with a second PR on that one as well.

[2020-01-15 18:37] mikelyndersOKCC opened #130 "ROS2 Actions Support"
I have created a ROS2 package that implements ROS2 Actions and it would be great if I could call them through my webapp interface. Unfortunately, it seems ROS2 Actions are not supported yet.

What would it take to get this functionality? I have gathered that there are a couple reasons why this might be hard:

- [rclnodejs ](https://github.com/RobotWebTools/rclnodejs)does not support ROS2 actions
-

[2020-01-16 07:20] minggangw commented on #130
Thanks for your question, I'd like to talk about the history of actionlib feature first

- In ROS1, there was no concept of middleware, so each client implements its own version of [actionlib](http://wiki.ros.org/actionlib) achieved by client/service.

- In ROS2, we have a middleware named [rcl](https://github.com/ros2/rcl), clients of ROS2 must wrapper this C library and expose the interfaces thr

[2020-01-16 13:42] mikelyndersOKCC commented on #130
Thanks for the explanation! I understand much better, I will take a look at [RobotWebTools/rclnodejs#469](https://github.com/RobotWebTools/rclnodejs/issues/469) as well as the guidelines in  [RobotWebTools/rclnodejs#498](https://github.com/RobotWebTools/rclnodejs/issues/498) to determine if this is something I might be able to contribute to!

[2020-01-17 07:15] minggangw commented on #127
I think it doesn't happen any more, so let's close it.

[2020-01-17 07:15] #127 closed, assigned to nobody

[2020-01-17 07:16] minggangw commented on #123
I think it doesn't happen any more, so let's close it.

[2020-01-17 07:16] #123 closed, assigned to nobody

[2020-01-17 07:17] minggangw commented on #120
I think it doesn't happen any more, so let's close it.

[2020-01-17 07:17] #120 closed, assigned to nobody

[2020-01-17 07:17] minggangw commented on #121
I think it doesn't happen any more, so let's close it.

[2020-01-17 07:17] #121 closed, assigned to nobody

[2020-01-17 07:18] minggangw commented on #124
I think it doesn't happen any more, so let's close it.

[2020-01-17 07:18] #124 closed, assigned to nobody

[2020-02-18 18:45] lazydino opened #133 "Running Dockerfile"
It took sometimes to do 'docker build...' Now I have the container image, how do I run it? Any instructions available for executing demo in docker?

[2020-02-19 06:19] minggangw commented on #133
The docker is used on travis-ci for integration only, so we don't offer the instructions under the docker usage. I suggest you find some references for the docker itself.

[2020-02-27 18:14] mikelyndersOKCC opened #134 "Topic Latching - QoS Profiles for Subscribers"
I am trying to achieve a latching topic through the ros2-web-bridge.

In ROS1 there was a publisher option called [latching](http://wiki.ros.org/roscpp/Overview/Publishers%20and%20Subscribers):

This behavior would be very useful for web interfaces where topic driven data might be un-populated when the user first loads or refreshes the page, and remains un-populated until a new message is publishe

[2020-02-28 15:15] minggangw commented on #134
I think the first solution, adding an additional arg, is more feasible because rosbridge v2 protocol is not designed for ROS2 specifically. Of course, the ideal way is that it can be supported by the rosbridge protocol, then each connection could customize its own QoS profile.

[2020-03-22 08:14] #133 closed, assigned to nobody

[2020-03-22 08:27] #5 closed, assigned to nobody

[2020-04-10 14:25] maxlein opened #141 "Add cbor-raw compression"
Can we have this feature for ROS 2 also?

[Related PR](https://github.com/RobotWebTools/rosbridge_suite/pull/452)

[2020-04-10 15:13] minggangw commented on #141
[rclnodejs](https://github.com/RobotWebTools/rclnodejs) as the backend of ros2-web-bridge doesn't support:

- [rcl_publish_serialized_message](https://github.com/ros2/rcl/blob/7537f8304493e9b9568748b5601f5c1b7fa463f0/rcl/include/rcl/publisher.h#L359)
- [rcl_take_serialized_message](https://github.com/ros2/rcl/blob/7537f8304493e9b9568748b5601f5c1b7fa463f0/rcl/include/rcl/subscription.h#L308)

So, I

[2020-04-14 13:53] cr01927 opened #142 "free(): invalid next size (fast)"
I'm getting a `free(): invalid next size (fast)` error in my implementation. I'm using ros2-web-bridge to interface a web page with my ROS2 backend, where the web page subscribes to about 10 topics. The fastest topics are published at 10Hz. None of the msgs are particularly large (no images or point clouds or anything), the biggest being about 6 topics published at 10Hz with 60-70 geometry_msgs/Po

[2020-04-16 07:28] minggangw commented on #142
Is there a core dump file generated? would you please paste the call stack here, so we can identify the root cause of it, thanks!

[2020-04-16 13:03] cr01927 commented on #142
How's this?

[code]

[2020-04-16 13:33] minggangw commented on #142
Thanks for the detailed information and the crash happened when GC executes, which I think the reason is complicated. Is it reproducible stably (as there are many dependencies, we cannot find the direct connection from the backtrace)?

[2020-04-16 13:45] cr01927 commented on #142
It seems to be fairly random. I could only reproduce it once yesterday in about 6 hours of testing, while this morning it happened on the first run of the software.

[2020-04-16 17:15] cr01927 commented on #142
Happened again, with a different backtrace this time...

[code]

[2020-04-16 18:16] cr01927 commented on #142
And another. Not sure why I'm breaking this in multiple places, there must be something else going on

[code]

[2020-04-17 10:37] maozaizhou commented on #121
hello, I came into the same problem, and can't figured out why

[2020-04-17 12:59] minggangw commented on #121
Please make sure rclnodejs.node is generated.

[2020-04-17 13:19] minggangw commented on #142
This looks weird that it doesn't happen when the GC executes only, but also some other cases (within libraries of rclnodejs or librmw_fastrtps_shared_cpp.so).

Which release of rclnodejs and ROS2 do you use? (latest ones are [ROS 2 Eloquent Elusor - Patch Release 1](https://github.com/ros2/ros2/releases/tag/release-eloquent-20200124) and [0.13.0](https://www.npmjs.com/package/rclnodejs/v/0.13.0)),

[2020-04-17 13:37] cr01927 commented on #142
Versions:
  ROS2: Eloquent, in the official ros:eloquent-ros-core image on DockerHub. I was on the February build, just re-pulled and updated to the March build and will test again today.
  Node: v10.18.1
  rclnodejs: 0.13.0 (pulled in when I npm install the master branch of this package)

The app's pretty large, but I could try a minimal rclnodejs example that consumes the higher-throughput topic

[2020-04-17 14:42] minggangw commented on #142
I see, so I think you are running ROS2 with the docker image. We ever tested the stability of rclnodejs e.g. pub/sub some topics for several days, but not using the docker image. I agree that you could make a simple case to locate the potential causes, thanks for your support!

[2020-04-17 21:16] repa1030 opened #143 "npm install error ROS2 Dashing"
Hello,

When I follow the install instructions, I get an build error of npm install under ROS2 Dashung, Ubuntu 18.04, current development Branch of Ros2-Web-Bridge.

[code]

Thank for your help!

[2020-04-19 15:00] minggangw commented on #143
It seems that installing the [rclnodejs](https://github.com/RobotWebTools/rclnodejs) failed. rclnodejs is a Node.js client for ROS2 and the latest version is [0.13.0](https://www.npmjs.com/package/rclnodejs/v/0.13.0), which is compatible with [Eloquent Elusor Patch Release 1](https://github.com/ros2/ros2/releases/tag/release-eloquent-20200124). Because you are using Dashing, I think that causes th

[2020-04-19 15:06] minggangw commented on #142
An update: to mimic your case, I run the an [example](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-message-example.js) of rclnodejs which publishes a topic of type `sensor_msgs/msg/JointState`

[code]

The memory error doesn't happen after two-days running.
ENV:
Node.js: v12.16.1
rclnodejs: 0.13.0
ROS2: build from scratch with master branch

[2020-04-20 08:07] repa1030 commented on #143
Thank you, fixed!

[2020-04-20 08:07] #143 closed, assigned to nobody

[2020-04-22 15:39] cr01927 commented on #142
Still trying to investigate this. I'm still getting periodic crashes from the application, but I haven't gotten any crashes in my attempt to reproduce the problem. I'm testing `rclnodejs` directly with my test program - I might try to write another to test `ros2_web_bridge`

[2020-04-23 19:34] cr01927 commented on #142
Any advice on how to install rclnodejs with debug symbols? I'm not super familiar with nodejs, but node-gyp keeps building it in release, even when I try to `node-gyp debug configure rebuild`

[2020-04-24 03:40] minggangw commented on #142
`node-gyp rebuild --debug` will generate the symbols, also enables some debug info.

[2020-04-28 17:10] cr01927 commented on #142
Still working on debugging this. I set the flag `MALLOC_CHECK_=1` and now I consistently get a backtrace of
[code]
Still working on getting rclnodejs built with debug symbols so I can get more info about frame #6

[2020-04-29 12:05] minggangw commented on #142
Thanks for keeping investigating this issue and it seems that the crash happens when executing `Executor::ExecuteReadyHandles` method. I did a quick check and found that we don't call malloc/free directly when calling `ExecuteReadyHandles`, I think we free a pointer somewhere which was not managed by us. Would you please locate the line number where the crash occurs, that would be helpful, thanks!

[2020-04-30 16:59] cr01927 commented on #142
Finally got rclnodejs building in debug. Generated this backtrace:

[code]

Looks like it was raised from the copy constructor called by https://github.com/RobotWebTools/rclnodejs/blob/1fc4e0f0ba05745e1dbe112d858d96b54d83d6b8/src/handle_manager.hpp#L54

ETA: Not sure if this provides any additional information, but I did some digging into the ready_handles_ member:

[code]

[2020-04-30 20:30] cr01927 commented on #142
After testing a few more times, looks like the memory errors are always with the ready_handles_ vector. I've seen copy constructor and destructor failures. It looks like its always fine in the get_ready_handles() frame, but it enters std::vectors copy constructor/destructor sometime after that, where the vector is junk. The vector itself is copied (so it doesn't reference the member variable), so

[2020-05-02 19:02] minggangw commented on #142
Thanks for logging the useful information and it seems that we get a different backtrace compared with the previous ones. I notice the following information about the first element of the vector:

[code]

So, I think that may cause a crash because of memory corruption.

[2020-05-08 07:49] minggangw commented on #142
`rclnodejs` has a new version [v0.14.0](https://www.npmjs.com/package/rclnodejs/v/0.14.0), you could upgrade to the latest release to see if it's still reproducible, thanks!

[2020-05-14 08:12] stiglioglu opened #144 "Npm install error"
Npm install output for windows 10

[2020-05-18 21:13] maxlein opened #145 "Connected but no topics"
Hi,

just tried your bridge and i am wondering how I can debug the bridge more.
I only get:

[code]

The warning comes when I connect to the bridge.
I was using the ros1 bridge before with the same data and I could echo my data there.
With ros1 bridge there is log output when new topics are registered.
Is there something similar with this lib?

[2020-05-19 04:53] minggangw commented on #145
Thanks for your question and hope I can help, see below:

This warning will not influence the functionalities I think.

Please reference https://github.com/RobotWebTools/ros2-web-bridge/issues/33#issuecomment-362468184 which may help you, thanks!

[2020-05-19 17:34] maxlein commented on #145
Thanks, now I am getting some Info!

It looks like ROS# is publishing ROS1 header msgs, because the time is called "secs" and not "sec" as wanted in ROS2.

[code]

[2020-05-20 02:58] minggangw commented on #145
Yes, the definition of `Time` is different in ROS1 and ROS2, see:

ROS1: http://wiki.ros.org/msg
ROS2: https://github.com/ros2/rcl_interfaces/blob/master/builtin_interfaces/msg/Time.msg

I think you have to rename the keys if you want to publish the topic to ROS2.

[2020-05-20 06:38] #145 closed, assigned to nobody

[2020-05-20 10:32] maxlein opened #146 "Service topics_and_raw_types missing when using webviz"
Missing service when using webviz:

See ticket [here](https://github.com/RobotWebTools/roslibjs/pull/351)

[code]

[2020-05-20 12:48] minggangw commented on #146
`rosapi`, as a bunch of services, is implemented by the [rosbridge_suit](https://github.com/RobotWebTools/rosbridge_suite/tree/develop/rosapi/srv) for ROS1, but `ros2-web-bridge` doesn't offer this kind of functionality for ROS2 until now. Some previous discussion could be found #129 #122 #73, thanks!

[2020-05-28 13:51] CLansdaleBEC commented on #144
I am getting the same issue with Ubuntu 20.04, node 10.19

[2020-05-28 15:10] minggangw commented on #144
For linux, make sure you have ` source <path/to/ros2>/install/local_setup.bash`
For Windows, ` call <path\to\ros2>\install\local_setup.bat`

[2020-05-28 19:21] CLansdaleBEC commented on #144
Confirming I sourced the ROS2 setup file before running npm install. As a workaround I dropped a working package-lock.json in  from and old build I had and was able to build with that successfully.

[2020-05-29 19:16] CLansdaleBEC commented on #144
I tried a fresh install on a VM running dashing on Ubuntu 18.04 and get the same issue. Considering the package-lock json seems to fix things could the current version be incompatible with rclnodejs?

[2020-05-30 15:16] minggangw commented on #144
Hmm, I checked the usage of `package-lock-json` and [found](https://docs.npmjs.com/configuring-npm/package-lock-json.html):

So I think the file itself will not affect the process of compiling of C++ code, maybe something else leads to the failure.

[2020-06-05 07:11] M-Redel opened #147 "Ros2 Launch file"
Is it possible to start the package via the ros2 launchfile.py?

[2020-06-05 07:50] minggangw commented on #147
Currently, this module, ros2-web-bridge, has not been integrated with [ros2cli](https://github.com/ros2/ros2cli)  if that's what you want to have.

[2020-06-10 20:58] mikelyndersOKCC commented on #121
Hello, I am having a similar problem.

The bindings I appear to be missing are for a package called  **int64-napi**
The following error occurs when running rosbridge.js:

  throw err;
  ^

 → /home/pi/dev_ws/src/ros2-web-bridge/node_modules/int64-napi/build/int64.node
 → /home/pi/dev_ws/src/ros2-web-bridge/node_modules/int64-napi/build/Debug/int64.node
 → /home/pi/dev_ws/src/ros2-web-bridge/node_m

[2020-06-11 02:16] roddc commented on #144
Hey @minggangw, I got this error when installing web bridge in docker, I have sourced ROS2 before installation.

../src/rcl_action_bindings.cpp: In function ‘Nan::NAN_METHOD_RETURN_TYPE rclnodejs::ActionProcessCancelRequest(Nan::NAN_METHOD_ARGS_TYPE)’:
../src/rcl_action_bindings.cpp:631:36: warning: ignoring return value of ‘rcl_ret_t rcl_action_cancel_response_fini(rcl_action_cancel_response_t*)’

[2020-06-11 02:49] minggangw commented on #144
The rclnodejs [v0.14.1](https://www.npmjs.com/package/rclnodejs/v/0.14.1) supports the latest ROS2 [Foxy](https://github.com/ros2/ros2/releases/tag/release-foxy-20200605), but not for Eloquent Elusor because these two ROS2 releases are incompatible.

From the error message, I suppose you are not running Foxy. The solution is that you could pin a specific rclnodejs version in [package.json](https:/

[2020-06-11 02:52] minggangw commented on #121
I haven't met this before also, anyway it was solved :smile:

[2020-06-15 09:15] roddc commented on #144
Thanks!

[2020-06-23 04:36] threeal opened #148 "Client library that fully support ROS 2"
## Feature Request

### Feature Description

The [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge) currently only support [roslibjs](https://github.com/RobotWebTools/roslibjs) as the clients library that communicates with it. The good things is they both use the same [rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md) so we

[2020-06-23 06:17] minggangw commented on #148
Hi @threeal thanks for your suggestion! Indeed, the roslibjs cannot fully support all the features [rclnodejs](https://github.com/RobotWebTools/rclnodejs) offers, which is a Node.js client of ROS2. Because there are some new concepts/params in ROS2, meanwhile, some ROS1 concepts/params are deprecated.

Date back to the [beta](https://github.com/ros2/ros2/releases/tag/release-beta3) stage of ROS2,

[2020-06-23 06:21] minggangw commented on #144
I think we could close it now, please feel free to reopen if you still have problems, thanks!

[2020-06-23 06:21] #144 closed, assigned to nobody

[2020-06-23 08:13] threeal commented on #148
I could help to create a new front-end JS library that could support ROS 2. As the roslibjs already support some of the feature in the ROS 2, I considered we could create a library that wrap the roslibjs library to be compatible with ROS 2 for now. This will make the roslibjs could still be used in ros2-web-bridge without modifying the protocol, and we would have another library that could use som

[2020-06-23 09:23] minggangw commented on #148
That's great and thanks for your support! Some suggestions and ideas

I'm not sure we should wrap the current roslibjs, I prefer we could extend/change the interfaces/parameters.

Yes, this should be part of RWT project and I reckon we can divide the whole work into two parts:

- Frond-end: We could fork the current [roslibjs](https://github.com/RobotWebTools/roslibjs) and implement new features b

[2020-06-23 15:09] threeal commented on #148
Should we extend the `ros2libjs` (or `rcljs` if a could prefer) syntax to be like the `rclnodejs`? so instead of creating a `Topic` object and then call to `subscribe()`, it requires to create a `Node` object first, then create a `Topic` object from it that include the subscribe callback? The point is it would preserve the ROS 2 syntax for client library across language, even if the `rcljs` wouldn

[2020-06-23 15:35] minggangw commented on #148
Oh, I misunderstood the "wrap" you mentioned and we'd better keep the interfaces as the current ones if possible. "extend" means that we could expose new interfaces to the web developers to extend the current scope of roslibjs.

`rmw` acts the middleware in ROS2 stacks which `rcl` based on, and `rclnodejs` is kind of Node.js wrapper of `rcl` which `ros2-web-bridge` uses to access to ROS2, looks li

[2020-06-25 13:46] M-Redel opened #149 "Header Timestamp automatically"
hi guys, if I omit the header timestamp, according to this description it should read: "Alternatively, just the timestamp field can be omitted, and then the current time will be automatically inserted. "But if I omit the timestamp then I won't get any messages in ROS2.

[2020-06-25 14:52] minggangw commented on #149
You could enable the debug to see the detailed information, e.g.

[code]

[2020-06-29 16:24] M-Redel commented on #149
Hello, I have bent it and I have received the following message. But the question was if I can omit the timestamp in the json transfer and have it added automatically when the message is received in ROS2.
This worked in ROS 1.
![debug](https://user-images.githubusercontent.com/55601196/86031098-b622fa00-ba35-11ea-91e7-a09d6268b254.jpg)

[2020-06-29 17:12] minggangw commented on #149
Currently, the `rclnodejs`, as the back-end of the bridge, will not assign a default value to a key (e.g. `timestamp`) if it's not been explicitly assigned to. Further, the `rclnodejs` will validate the message/topic when it's being published, so an error will be reported which I think it's what you meet.

[2020-06-29 18:53] cr01927 commented on #142
Just to close this out - we wrapped up this project before I got to do more investigation on this. One additional thing I noticed was that this error rarely (but still occasionally) happened on a server with much better hardware than my development laptop. There very well could have been unoptimized web client code that was causing this app to use too many resources, or something.

Sorry we couldn

[2020-06-30 02:32] minggangw commented on #142
That's fine, thanks for what you have done to help investigate the root cause of the problem. Actually, based on the call stack you offered, I found a potential race condition when writing/reading data happens on different threads, and a [patch](https://github.com/RobotWebTools/rclnodejs/commit/3a73bad3c4c335499822ebb9f192e5835a8f8bbd) has landed.

Hopefully, we are going to have a patch release r

[2020-07-14 05:31] caelinsutch commented on #148
So is someone making a ROS2 client side JS library?

[2020-07-14 06:22] minggangw commented on #148
You may find more information https://github.com/RobotWebTools/rosbridge_suite/issues/345 and https://github.com/RobotWebTools/rosbridge_suite/issues?q=ros2

[2020-08-04 18:00] MarcoAndrade26 opened #150 "Failed at the rclnodejs@0.15.1 install script"
Hi,
I am trying to install ros2-web-bridge using npm i ros2-web-bridge.

I am in Ubuntu 18.04 and ROS2 Dashing.

Node version: 10.22.0
Npm version: 6.14.6
Rclnodejs version: 0.10.3

How can I install ros2-web-bridge for rclnodejs 0.10.3?

[2020-08-05 02:33] minggangw commented on #150
Please reference https://github.com/RobotWebTools/ros2-web-bridge/issues/144#issuecomment-642373204

[2020-08-06 02:36] MarcoAndrade26 commented on #150
Thanks! it works! Is there any way to execute actions using ros2-web-bridge?

[2020-08-07 02:48] minggangw commented on #150
Currently, `ros2-web-bridge` doesn't support actions feature, and if you want to run your apps in browser, I suggest you could try [Electron](https://www.electronjs.org/) which supports Node.js env by using [rclnodejs](https://github.com/RobotWebTools/rclnodejs) directly (rclnodejs is a full-feature Node.js client of ROS2).

[2020-08-10 06:39] minggangw commented on #150
Close this issue as fixed.

[2020-08-10 06:39] #150 closed, assigned to nobody

[2020-08-10 11:43] maxlein opened #151 "Problem when installing in Dockerfile"
I am trying to create a Dockerfile for easy startup of the bridge and I encountered this error during call to `npm install`:

[code]

I am running foxy on ubuntu focal. On my native setup I can install and run it.
This is the Dockerfile I am using. It may help others too.

[code]

[2020-08-10 14:07] minggangw commented on #151
The error indicates that you haven't sourced the `local_setup.bash`, although you have `RUN bash -c ". /opt/ros/$ROS_DISTRO/setup.bash"
`. I suggest you could try something like:

[code]

Edited: I saw you have both

- `RUN echo "source $ROS2_WS/ros2-linux/local_setup.bash" >> $HOME/.bashrc`
- `RUN bash -c ". /opt/ros/$ROS_DISTRO/setup.bash"`

How did you [install](https://index.ros.org/doc/ros2/I

[2020-08-11 11:03] maxlein commented on #151
It's pretty much the Dockerfile from your repo.
So the ROS2 binaries are downloaded and sourced.

But I also tried from the foxy image itself -> `FROM ros:foxy`
And also sourcing right before install like so:
`RUN bash -c ". /opt/ros/$ROS_DISTRO/setup.sh" && npm install`

And always getting the same error.

[2020-08-11 11:46] roddc opened #152 "Can I generate tf2-web-republisher msgs for ros2 web bridge?"
Do I have to switch to ros1 web bridge to use this message?

[2020-08-11 12:11] #152 closed, assigned to nobody

[2020-08-18 17:37] barnesew commented on #151
I am getting the same error. I tried sourcing ```$ROS2_WS/ros2-linux/local_setup.bash``` and ```/opt/ros/$ROS_DISTRO/setup.bash``` using both a Dockerfile and by overriding the entrypoint script.

Also, I'm using ```FROM ros:foxy```

[2020-08-19 03:07] minggangw commented on #151
Would you please add `echo $AMENT_PREFIX_PATH` into the Docker file before starting to install the `ros2-web-bridge` and see whether the variable has been set properly. So we could identify if the `rclnodejs` causes this error, thanks!

[2020-08-26 10:29] mayuribh opened #153 "Failed to recieve self-defined messages via bridge"
Let's say I have created a message Allmsg in the package named my_msgs. I am not able to receive the message when subscribed to the concerned topic. I get an error stating the message required does not exist

 ros2-web-bridge:Bridge JSON command received: {"op":"subscribe","id":"subscribe:/nmea:1","type":"my_msgs/Allmsg","topic":"/nmea","compression":"none","throttle_rate":0,"queue_length":0} +112

[2020-08-26 14:51] minggangw commented on #153
I think the root cause is that you created and compiled the message (`my_msgs/Allmsg`) defined by yourself after you ran the web bridge the first time. Normally, the generated JS messages are generated when the first time you run the web bridge, and if you want to add other message types later, you have to regenerate them forcibly, which is not exposed to the web bridge.

One possible solution is:

[2020-08-28 05:52] FlorisE commented on #73
Hi @minggangw, thanks for replying to my question in the `rclnodejs` repo. I'm not sure if I understood you correctly, but do you think it would be suitable to add functionality similar to https://github.com/RobotWebTools/rosbridge_suite/tree/develop/rosapi to the `ros2-web-bridge`?

[2020-08-28 06:17] minggangw commented on #73
As the rosapi is not a standard in ROS2, I think it's up to the individual client to implement some facilities/utils, like rosapi. In ROS1, the `rosbridge` offers them. As a client of ROS2, `rclnodejs` follows some design principles https://index.ros.org/doc/ros2/Concepts/ROS-2-Client-Libraries/. But theoretically, a client could do more.

[2020-09-03 09:27] maxlein commented on #151
AMENT_PREFIX_PATH looks like that:
[code]

[2020-09-03 14:03] minggangw commented on #151
That's a little weird, from the error log:

[code]

It means `AMENT_PREFIX_PATH` is not a string,  which indicates the variable is not set yet. As the error only happens in Docker, I suspect it's caused by the configuration of docker?

[2020-09-03 14:05] minggangw commented on #151
The error originates from https://github.com/RobotWebTools/rclnodejs/blob/develop/binding.gyp#L63 when compiling with GYP file.

[2020-09-04 21:24] maxlein commented on #151
Yes but I don't know enough about how gyp works. Why is the env var not set when using gyp?

[2020-09-26 09:29] botamochi6277 opened #154 "Connection fail with browser from external PC"
I have connection error to publish from browser.

I logged in  my ros pc (raspberry pi 4 installed foxy) with ssh and executed following command.

Terminal 1:
[code]

Terminal2:
[code]

When I opened `http://foxy.local:3000/html/publisher.html` from my host PC, the following page appeared. `foxy` is hostname of the raspberrypi.

<img width="1383" alt="ScreenShot 2020-09-26 17 18 23" src="https://u

[2020-09-27 03:05] minggangw commented on #154
Please try to change the address of ws server to your actual one, I think it should be the address of `raspberry pi 4`

https://github.com/RobotWebTools/ros2-web-bridge/blob/248f2ee44c525ebbd7c90e7c056ba62f3939eb02/examples/html/publisher.html#L39

This simple demo is designed to run the bridge and the web browser on the same machine.

[2020-09-29 13:43] #112 closed, assigned to nobody

[2020-09-30 13:19] botamochi6277 commented on #154
Thank you for replying.
I succeed to publish when i run the bridge and the web browser on the same raspberry pi.
I fail to do, although, when i run the web browser on another pc with actual address (192.168.4.2).

[2020-09-30 14:43] minggangw commented on #154
What's the error log? still `net::ERR_CONNECTION_REFUSED`?

I suggest you could create a `WebSocket ` and try to connect to the address of raspberry pi, thus we could make sure it's reachable. Also, please run the bridge `DEBUG=ros2-web-bridge* node bin/rosbridge.js` to enable debug output and get more useful information.

[2020-09-30 17:34] apoorvcn47 opened #155 "Problem with converting web bridge into a binary with nexe"
When I try to convert rosbridge.js into a binary with nexe and put it in another directory, it cannot find binding and rclnodejs modules. While compiling, i do provide linking with node_modules, lib, package.json and index.js. Is there anything I am doing wrong? Following is the command I am using for compilation

nexe rosbridge.js -r "../lib/*.js" -r "../node_modules/*" -r "../index.js" -r "../pa

[2020-09-30 19:56] barnesew commented on #151
I was able to get it to work using this:
[code]

[2020-10-02 13:33] minggangw commented on #151
Great! @barnesew thanks for sharing your solution! As many developers met this issue when using Docker and reported the same issue on Github, would you please submit a PR to add a **Troubleshooting** section into [README](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/README.md) to describe the problem and how to solve it, I think that will help a lot, thanks!

[2020-10-02 13:38] minggangw commented on #155
Please `rclnodejs.node` is included.

[2020-10-02 17:31] apoorvcn47 commented on #155
Unfortunately that did not work. Following is the error I am getting

/home/aw_rdex/Desktop/node_modules/bindings/bindings.js:211
      throw new Error(
      ^

Error: Could not find module root given file: "/home/aw_rdex/Desktop/node_modules/rclnodejs/lib/clock.js". Do you have a `package.json` file?
    at Function.getRoot (/home/aw_rdex/Desktop/node_modules/bindings/bindings.js:211:13)
    at

[2020-10-03 14:25] minggangw commented on #155
The log shows the `rclnodejs.node` is not found, please check the source code of [clock.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/lib/clock.js#L17)

[code]

[2020-10-05 18:14] apoorvcn47 commented on #155
yes i understand that but based on my compilation command, it should be included, correct?

Sorry if I am being difficult, dont have much experience with javascript

Is compilation working for you?

[2020-10-07 12:42] botamochi6277 commented on #154
I **succeed to publish** topics with the web browser from my Mac (external PC).
I edit line 40 in `examples/html/publisher.html` as below,
`ros.connect('ws://localhost:9090');` -> `ros.connect('ws://foxy.local:9090');`.
`foxy` is hostname of my rospc running ros2-web-bridge.

Mac may try to connect 'ws://localhost:9090' as `'ws://[mac ip address]:9090'`.

[2020-10-07 13:40] minggangw commented on #154
Great! So could we close this issue now?

[2020-10-07 13:42] botamochi6277 commented on #154
Yes, Please.

[2020-10-07 13:45] minggangw commented on #154
Close this issue, please feel free to reopen it if you still have problems, thanks!

[2020-10-07 13:45] #154 closed, assigned to nobody

[2020-10-08 09:15] mis-eu commented on #146
@minggangw has this been implemented for ROS2 Foxy yet?

[2020-10-08 09:17] mis-eu commented on #147
would be great to have the feature of launching with ros2 launchfile.py on 20.04/Foxy

[2020-10-08 10:07] minggangw commented on #146
Not yet, I'm afraid I don't have the bandwidth to work on it, so we need volunteers to develop more features😄

[2020-10-08 10:11] minggangw commented on #147
We need to change ros2cli to support this feature, so we don't further plan right now.

[2020-10-08 12:51] Shashika007 opened #156 "display occupancy_grid msg"
Hi there,

I really appreciate your work. can i know, whether this bridge support occupancy grid msg type ?

[2020-10-08 14:03] minggangw commented on #156
Yes, `ros2-web-bridge` can support any `.msg` or `.srv` for ROS2, including user defined ones.

[2020-10-08 16:05] mis-eu opened #157 "serving Foxy + Gazebo11 to a Web Broswer"
Please validate if ros2-web-bridge supports deploying a ROS2 Foxy 20.04 Focal simulation via **gzclient**11 to a Web browser   (gzweb is still ROS1)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gazebo11 Web Bridge v 0.0.1</title>

    <link rel="stylesheet" href="css/base.css">

    <script

[2020-10-09 03:12] minggangw commented on #157
I never try to combine them together, my first thought is that as **ROSLIB** doesn't aware if backed by ROS 1 or ROS 2, it seems feasible to interact gzweb with ros2-web-bridge by the ROSLIB.

[2020-10-12 07:39] mis-eu commented on #157
thank you for this response @minggangw, about the ROSLIB being agnostic to ros1/ros2.

To your knowledge, can ros2-web-bridge serve a full **Gazebo11** **Foxy** world/model simulation to a Browser?

[2020-10-14 01:44] Shashika007 commented on #156
@minggangw  thank you

[2020-10-14 01:44] #156 closed, assigned to nobody

[2020-10-28 21:44] eden-desta opened #158 "Subscription Failure"
Hi everyone!
I was running the simple example and experimenting with different types of ROS messages when I had a failure trying to subscribe to a Joy data.

I am attaching my publisher.html and subscription.html for your to recreate.

For your reference -- the error ONLY occurs on subscription. without trying to subscribe to the Joystick data the publisher is able to happily publish the data with

[2020-10-29 06:09] minggangw commented on #158
Hi @edesta-be thanks for reporting the issue, would you please offer your detailed env, e.g. ROS2/nodejs/rclnodejs version? I try to reproduce it on my local Linux host, but it seems workable.

My env is:
 - Node.js: v12.18.4
 - ROS 2 Foxy Fitzroy - [Patch Release 3](https://github.com/ros2/ros2/releases/tag/release-foxy-20201009)
 - Ubuntu 20.04
 - rclnodejs [v0.16.0](https://www.npmjs.com/packag

[2020-10-29 10:51] eden-desta commented on #158
**Env:**
Node.js: v15.0.1
ROS2 Foxy Fitzroy -- Patch Release 3
Ubuntu 20.04
rclnodejs v0.16.0

Thank you @minggangw

[2020-10-29 14:34] minggangw commented on #158
Because [rclnodejs](https://github.com/RobotWebTools/rclnodejs), ROS2 Node.js client, hasn't been verified on Node.js higher than 12, I suggest you could downgrade your Node.js. Actually, there is some known issue (https://github.com/RobotWebTools/rclnodejs/issues/713) on the higher version of Node.js

[2020-10-29 17:42] eden-desta commented on #158
Hi! Thank you for your help! I downgraded to 12.19.0 Node.js and it worked!

It might be worth investigating still but for the time being I am all set! Thank you for your time!

[2020-10-29 17:42] #158 closed, assigned to nobody

[2020-10-29 21:26] eden-desta opened #159 "Segementation Fault"
Hi Folks!

I am getting a segmentation fault with the webbridge. It happens rather randomly I'm not quite sure how to go about tracking its problem. For your reference, all I am currently doing is subscribing to my joystick data that I am publishing via a Joy node (this is separate and running ROS2 foxy).

[code]

Is there something I am missing? Any help would be great! Thank you!
And also -- it

[2020-10-30 02:40] minggangw commented on #158
My pleasure, I will update here once it works on Node.js v14.x and v15.x

[2020-10-30 03:10] minggangw commented on #159
If you are using Node.js v12.19.0, I suspect there is an [issue](https://github.com/nodejs/node/issues/35620) which may cause the segfault and has been fixed. So please try v12.18.4 or wait for the next release (v12.19.1?). Also, this problem is tracked https://github.com/RobotWebTools/rclnodejs/issues/713 on rclnodejs.

[2020-10-30 16:23] eden-desta commented on #159
Thank you @minggangw that seems to solve the problem! I appreciate your response!

[2020-10-30 16:23] #159 closed, assigned to nobody

[2020-12-03 22:18] gautamjain commented on #130
Looks like actions are now supported in rclnodejs.  Would extending the rosbridge protocol be the next step?

On a related note - is the 'rosbridge v2.0 protocol' meant for ROS2?  Or is it the second iteration of a protocol designed for ROS1?

[2020-12-05 07:23] minggangw commented on #130
Yes, rclnodejs now supports actions, but we haven't had plan to extend the rosbridge protocol yet.

It stands for the 2nd version of rosbridge protocol for ROS1, that's is why it's difficult to extend to ROS2.

[2020-12-07 17:23] DentOpt opened #160 "Pose stamped message not published"
Hi y'all,

I am using your minimum example to build a publisher for a pose stamped message.
I can publishing an empty message, a twist message, but no Pose and no PoseStamped message.
It is creating their publishers as I can echo the topic, but nothing is written into the Pose and PoseStamped topics.
Either my way of defining the topic message variable is wrong:
[code]
or this is a bug  in ROSLIB.

[2020-12-09 00:26] mis-eu commented on #160
I can confirm the same problem, the /topic is listed,
but the PoseStamped message echo does not appear

Could anyone please verify **PoseStamped** JSON structure below is valid?
(slightly linited from above post, with added sequence int)

[code]

[2020-12-09 00:27] mis-eu commented on #160
I can confirm the same problem, the /topic is listed,
but the PoseStamped message echo does not appear

Could anyone please verify **PoseStamped** JSON structure below is valid?
(slightly linted from above post, with added sequence int)

[code]

[2020-12-09 02:25] minggangw commented on #160
Sorry for being late, would you please try

[code]

to see any useful debug information?

[2020-12-09 02:43] mis-eu commented on #160
Thanks very much for your response @minggangw

`Bridge Response: {"op":"status","level":"error","msg":"publish: TypeError: Invalid argument: frame_id in Header","id"`

to which I've tried both:
frame_id : "map"
and
frame_id : "world"

without success

<details>
~/ros2-web-bridge$ DEBUG=ros2-web-bridge* node bin/rosbridge.js
  ros2-web-bridge:index ROS2 node started +0ms
  ros2-web-bridge:index Sta

[2020-12-09 02:51] minggangw commented on #160
I noticed there was an error

[code]

[2020-12-09 03:05] mis-eu commented on #160
error in PoseStamped is `"msg":"publish: TypeError: Invalid argument: frame_id in Header","id":"publish:/move_base_simple/goal:2"}`

error in Pose is `"msg":"publish: TypeError: Invalid argument: x in Point","id":"publish:/pose:4"}`

do the errors originate from JSON?

/PoseStamped
[code]

/pose
[code]

[2020-12-09 03:36] minggangw commented on #160
The `Time.msg` is ROS2 is different from that of ROS1, please see https://github.com/ros2/rcl_interfaces/blob/master/builtin_interfaces/msg/Time.msg, please reference the [example](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-message-example.js#L32) to see if it will work, thanks!

[2020-12-09 08:56] mis-eu commented on #160
thanks for the information!

unfortunately, the Bridge response Error remains exactly the same as before.
I´ve matched the [ROS2 Time.msg definition](https://github.com/RobotWebTools/rclnodejs/blob/45d7bd0a5cbc7b9d5bd6b397b33abc770845771b/example/publisher-message-example.js#L32) you referenced above,
as well as tried variations in frame id:  main frame, world frame, map frame.

No dice.

[2020-12-09 09:02] mis-eu commented on #160
Sharing the complete code  for verification:

<details>
[code]

[2020-12-09 09:30] minggangw commented on #160
[code]
The JSON string that the bridge received is
[code]
I think that is why there was an error thrown, this JSON is supposed to carry `PoseStamped` object, apparently, it was not. (The string was sent by ROSLib through websockets)

[2020-12-09 18:06] mis-eu commented on #160
@minggangw how would you verify publishing **PoseStamped** using clientside ROSlib / JSON ?

[2020-12-09 20:07] mis-eu commented on #160
@minggangw
otherwise, how can the _rclnodejs_ module be implemented in clientside HTML,
where _`require`_ is **not supported**?

[code]

I tried[ importing rcl](http://robotwebtools.org/rclnodejs/docs/0.17.0/index.js.html#line94) as a module:

[code]

but how to export it as a module within ros2-web-bridge/node_modules/rclnodejs/**index.js**  ?

[2020-12-10 00:44] mis-eu commented on #160
Here is the above [Example](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-message-example.js#L32) plugged into the [/demo/ index.html](https://github.com/RobotWebTools/ros2-web-bridge/tree/develop/demo)

The problem is that even when loaded into the HTML page, the same error is thrown, making  it not possible to spin the rclnode publisher:

**publisher-message-example.j

[2020-12-10 04:30] minggangw commented on #160
Hi @mis-eu thanks for your continuous investigation on this issue. `require` is kind of CommonJS module concept, which the browser doesn't support directly. Some library, e.g. [browserify](https://github.com/browserify/browserify), can support it in your browser. But `rclnodejs` will load a C++ addon that has to use a Node.js, so you cannot import the module in your browser. My suggestion is:

-

[2020-12-10 09:00] mis-eu commented on #160
Hello @minggangw
thanks very much for the extensive [examples provided in rclnodejs](https://github.com/RobotWebTools/rclnodejs/tree/develop/example) package as well as the good [rclnodejs typescript use-cases documentation](https://github.com/RobotWebTools/rclnodejs#using-typescript).

I suspected the C++ codebase could not be made available to the Browser without a [JavaScript loader](https://do

[2020-12-10 09:32] minggangw commented on #160
Maybe you could log in the roslibjs at https://github.com/RobotWebTools/roslibjs/blob/969f568ceeb15600ebea1a5047bca5b34b7e58ad/src/util/workerSocketImpl.js#L27 to see if the JSON string is correct practically when it's being sent, and if you want to do more in ROS2 by JavaScript, using `rclnodejs` is a good idea in the long term :smile:

[2020-12-11 01:22] mis-eu commented on #160
It is interesting that Node is throwing the [same error rosbridge returned for the ROSlib JSON of PoseStamped](https://github.com/RobotWebTools/ros2-web-bridge/issues/160#issuecomment-741495961) discussed above.

Running node on the  [publisher-example.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-example.js) updated to `geometry_msgs/msg/PoseStamped` also returns *

[2020-12-11 01:33] mis-eu commented on #160
and running node on that same [publisher-example.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-example.js) but with geometry_msgs/msg/Twist on /cmd_vel topic throws the same **Invalid argument: x in Vector 3 error**  as with roslibjs

$ node publisher-example-posestamped.js
output error:
[code]

script:
publisher-example-twist.js
[code]

[2020-12-11 15:29] minggangw commented on #160
I think the case is a little mess here,  let me clarify it. I tried the example below and it works, and you can verify by writing a subscriber to log the topic you received. My env is: Nodejs v12.20.0, rclnodejs v0.17.0, ROS2 Foxy patch release3.

[code]

and to subscribe the topic
[code]

[2020-12-13 15:46] mis-eu commented on #160
@minggangw Thanks very much!

These validate publishing of `PoseStamped` also on WSL2 ROS2 env:  **Foxy (Debian)**, Node v10.19.0, rclnodejs v0.17.0

I had to make just one change in the _Subscriber script_, to require (rclnodejs) instead of (../index.js) as below:

[code]
![image](https://user-images.githubusercontent.com/72131952/102016726-93c23600-3d62-11eb-9173-118b6f61ca52.png)
![image](https

[2020-12-14 08:56] minggangw commented on #160
That's it 🚀

[2021-01-01 20:04] #151 closed, assigned to nobody

[2021-01-02 08:43] whatis777 opened #161 "Start of rosbridge.js aborts (librcl.so not found)"
When trying to start ros2-web-bridge with `node bin/rosbridge.js`, it aborts with this error message:
[code]

The setup is:

- Ubuntu Server 20.04.1 LTS
- python 3.8.5
- ROS2 Foxy Fitzroy following [these instructions](https://roboticsbackend.com/install-ros2-on-raspberry-pi/)
- ros2-web-bridge 0.3.0
- nodejs 12.20.0
- npm 6.14.8
- hardware: raspberry pi 3 B v1.2

`librcl.so` is located in `/opt/r

[2021-01-02 09:11] minggangw commented on #161
It seems that everything has been set properly, normally this kind of issue was caused by not sourcing the `setup.bash` for ROS2. Can you run the examples of rclpy?

[2021-01-02 09:21] whatis777 commented on #161
I have a python-based custom node up & running properly  & publishing ROS2 messages if that helps.
If not please let me know which example I should run

[2021-01-02 09:43] minggangw commented on #161
I just want to confirm whether the `librcl.so` could be found because rclpy is similar to rclnodejs by wrapping the `librcl.so`  library. Currently, I have no idea what causes it, but I suggest you could try to use https://github.com/ros2/ros2/releases/download/release-foxy-20201211/ros2-foxy-20201211-linux-focal-arm64.tar.bz2 package to see if it works.

[2021-01-02 12:23] whatis777 commented on #161
1. I did a ROS2 reinstall using the binary and this [tutorial](https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Install-Binary/)
2. reboot
3. Tested the talker & listener nodes as described in the tutorial: both work
4. reinstall ros2-web-bridge (performing the steps as described above)

Performing `npm install` already shows a similar error at the end of the build:
[code]

The file is there

[2021-01-04 11:10] Jopand opened #162 "Error in generated service request files"
I'm running a Debian 10 environment with ROS2 Foxy.
I tried to make a simple Angular page calling a change_state service from ROS. It didn't work.

After some digging and debugging, I found out that it was due to an error in ./lifecycle_msgs/lifecycle_msgs__srv__ChangeState_Request.js

![image](https://user-images.githubusercontent.com/6458681/103529515-192e9700-4e86-11eb-9821-2b50aac20b60.png)

T

[2021-01-05 02:31] minggangw commented on #162
Please reference the example, I think it should work :)

https://github.com/RobotWebTools/ros2-web-bridge/blob/248f2ee44c525ebbd7c90e7c056ba62f3939eb02/examples/html/client.html#L42-L57

[2021-01-05 11:39] Jopand commented on #162
Problem seems to be in rclnodejs. So I created the issue there instead

[2021-01-05 14:04] Jopand commented on #162
Okay, I tried to use your example. I get no response at all.

To make it work, I have to call it like this

`var addTwoInts = new ROSLIB.Service({`
`  ros : $scope.ros,`
`  name : '/add_two_ints',`
`  serviceType : 'example_interfaces/AddTwoInts'`
`});`

`var request = new ROSLIB.ServiceRequest({`
`  a : 1,`
`  b : 2`
`});`
`var args = {request :request, type: 'example_interfaces/AddTwoInts'};`
`/

[2021-01-06 06:14] minggangw commented on #162
Hi @Jopand I tested the example locally and it seem working well, so would you please run with
[code]
to check the debug output? Here is mine

[code]

[2021-01-08 19:57] Jopand commented on #162
I just created a clean Ubuntu vm with ros2 foxy and couldn't reproduce the problem. So guess I have had a "dirty" setup before. Think we can close the issue

[2021-01-08 19:57] #162 closed, assigned to nobody

[2021-01-11 21:03] a-pastore opened #168 "Using ros2-web-bridge for Node-Red implementation"
Hello all,

i would like to ask you if anyone here already has experience with the connection between ROS2 and node-red. I was hoping to use the ros2-web-bridge in combination with the following node-red-module to create a web-based joystick, for instance.

[node-red-contrib-ros](https://flows.nodered.org/node/node-red-contrib-ros)

The following system is used in a VM:

- Ubuntu 20.04 LTS
- ROS2:

[2021-01-12 00:47] minggangw commented on #168
Theoretically, I think it's feasible to use `ros2-web-bridge` to replace the `ROS bridge` because  `ros2-web-bridge` is designed to be compatible with [roslibjs](https://github.com/RobotWebTools/roslibjs) and follows the [rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md).

The warning you mentioned is not critical, please try to run the `ro

[2021-01-12 09:02] vkuehn commented on #168
@a-pastore interesting project !
It looks like you are using an older node version. Look here [Node Red Supported Versions](https://nodered.org/docs/faq/node-versions).
Maybe you want to forward ROS2 as an issue to https://github.com/namgk/node-red-contrib-ros ?

[2021-01-13 10:45] mohsenpashna opened #169 "Node Namespace"
Was wondering how could we specify Node namespace, couldn't find any documentation or example about it?

Is this a feature to add, or something that I simply missed?

[2021-01-13 14:12] minggangw commented on #169
`ros2-web-bridge` depends on [roslibjs](https://github.com/RobotWebTools/roslibjs) (as front-end) and [rosbridge protocol specification](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md) (as protocol) to bridge the web to the ROS2, thus we could re-use the JS library. So, if the `roslibjs` doesn't expose the namespace parameter, we cannot enable it.

[2021-01-24 19:34] rgov opened #170 "Installation tries to write to root-owned directory"
I am trying to install `rclnodejs@0.10.3` which states that it supports ROS 2 "dashing".

I source the `setup.bash` script for my project and then run:

    npm install rclnodejs@0.10.3

It looks like it is trying to modify a root-owned directory:

[code]

The installation succeeds, but I'm not sure whether the configuration is broken.

[2021-01-24 19:34] rgov commented on #170
Wrong repo, sorry.

[2021-01-24 19:34] #170 closed, assigned to nobody

[2021-01-24 22:35] AndrewJSchoen opened #171 "Handling of /tf and /tf_static"
Hi all,

I was looking at using this library for visualizing some robots with a ros2 backend. I have gotten things to the point on the backend ros2 sever that the robot displays correctly in rviz2, but the robot does not display with the ros3djs visualizer. I looked into the connections that the `ros2_web_bridge` node has, and found that it does not subscribe to the `/tf` or `/tf_static`, despite

[2021-01-26 13:58] SomaGallai opened #172 "Running the example does not work"
My setup is the following:

- Node.js: v10.15.2
- ROS 2 Foxy Fitzroy Latest Release
- Ubuntu 20.04
- npm v6.4.1

Running `npm install` does not throw any errors. ROS2 has been sourced from the start.
Running `node bin/rosbridge.js` gives the following error:
[code]

[2021-01-27 02:24] minggangw commented on #172
Please upgrade your nodejs to v12.20.1, meanwhile, we have fixed the [support](https://github.com/RobotWebTools/rclnodejs/commit/b6f2f0dcfed229954d5db5131a1f549603568a26) for nodejs 10.x and it will get supported in the next release.

[2021-01-27 08:58] SomaGallai commented on #172
I have upgraded nodejs to v12.20.1 after that when running `node bin/rosbridge.js` the following error occured:
[code]

So I have deleted the `node_modules and package-lock.json` to do a fresh install, but then the following error happened while running `npm install`:
[code]

[2021-01-27 09:14] SomaGallai commented on #172
I was able to fix this error by editing package.json to not specify the rclnodejs version.  `node bin/rosbridge.js and cd examples && node index.js` is still not working as expected.
 `node bin/rosbridge.js` has the following output:
[code]
just as when I opened the issue.

[2021-01-27 09:24] SomaGallai commented on #172
I have realized for some reason it kept changing back to the older version of Node.js. When keeping an eye out it was installed with the right version and running on the good version og Node.js it is working. Thank you for your help!

[2021-01-27 09:24] #172 closed, assigned to nobody

[2021-01-27 14:41] slogan-oxts opened #173 "Ros2webbridge crashing after a period of time"
OS: Windows 10
Ros: Ros2 Eloquent
Node.js: 14.15.4

I've been trying to get this working as part of [RosSharp](https://github.com/siemens/ros-sharp) but I am running into an issue where the web bridge is crashing after a period of time:

[code]

or sometimes:
[code]
I created a simple publisher in python using rclpy which publishes a string "/topic" at 100hz.

I edited the example subscription.htm

[2021-01-27 14:44] minggangw commented on #172
Good to know the problem was gone.

[2021-01-27 14:56] minggangw commented on #173
The crash that happens on nodejs 14.x is a known [issue](https://github.com/RobotWebTools/rclnodejs/issues/717), and it was caused by the dependency of rclnodejs, [ref-napi](https://github.com/node-ffi-napi/ref-napi/issues/47). We haven't fixed it yet.

The crash that happens on nodejs 12.19.0 was caused by nodejs, please see [here](https://github.com/RobotWebTools/rclnodejs/issues/713) and it's f

[2021-01-27 15:28] slogan-oxts commented on #173
Hi @minggangw

Thanks for the quick reply.  That seems to be working perfectly now.  I would suggest this information should be put in the README.md as currently there is no indication of which version of node.js is required:

[2021-01-27 15:28] #173 closed, assigned to nobody

[2021-01-27 15:33] minggangw commented on #173
Thanks for your suggestion, we have put the requirement of nodejs into [rclnodejs README](https://github.com/RobotWebTools/rclnodejs#prerequisites) and will add it for the ros2-web-bridge, thanks!

[2021-01-27 20:32] AndrewJSchoen commented on #171
Just to connect some threads, I ended up creating a ROS2-compatible version of `tf2_web_republisher` but am still having issues with both `ros2-web-bridge` and `rosbridge_server`, documented in [rosbridge_suite#552](https://github.com/RobotWebTools/rosbridge_suite/issues/552)

[2021-01-28 03:33] minggangw commented on #171
Sorry for the delay, I suggest you could use

[code]

to check the log.

[2021-01-28 04:03] AndrewJSchoen commented on #171
Hi, thanks for the response.

I did that and got the following:

[code]

Now, if I am reading this correctly, it seems like the issue is actually that roslibjs is looking for the wrong stuff in the wrong places (Expecting ROS1-formatted messages/services/actions instead of ROS2), and isn't actually an issue with ros2-web-bridge itself _per se_, unless it is trying to account for whatever protocol

[2021-01-28 15:19] minggangw commented on #171
The roslibjs doesn't support ROS2 officially, ros2-web-bridge depends on [rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md) to communicate with the front-end JS library, which I think causes this issue.

[2021-01-31 10:42] threeal opened #174 "Python or C/C++ based web bridge"
I want to open discussion about a Python or C/C++ based web bridge. There's some points that i think we should consider again about writing a Python based (or probably C/C++ based) web bridge instead of Node.js based web bridge.

- **Normally, a ROS 2 package is written in either Python or C/C++**. Also in the ROS 2 default bundle, it doesn't even install a Node.js or rclnodejs. Thus, it makes Nod

[2021-02-07 07:59] sirawats opened #175 "Bug ROS2 custom message in subfolder"
**My custom msg directory**
[code]
then `npm install`
so rclnodejs generated the ros2 msg js interface
[code]
**The result:**
![Screenshot from 2021-02-05 17-08-22-x](https://user-images.githubusercontent.com/21076861/107023874-cffd9a00-67d9-11eb-8ad2-33ca4284abe6.png)

### **According to my investigation, I had 2 methods to solve this**
**1. Change my `oru_msgs` directory structure (remove bunker

[2021-02-07 08:04] sirawats commented on #171
This `"msg":"advertise: Error: The message required does not exist: tf2_web_republisher, msg, TFSubscriptionActionGoal"` may be related to my issue #175

[2021-02-17 09:17] spygibas commented on #130
Hi, I make website and use ros2-web-bridge to connect with ros2, I have problem on navigation2 because I can't use actions roslibjs and can't get result or feedback if I send pose direct via geometry_msgs/msg/PoseStamped.

Can anyone help me for solution for these problem ?
Would better way I should do ?
1. Maybe guideline how to me upgrade roslibjs or ros2-web-bridge to support action ros2.
or
2.

[2021-02-17 15:05] minggangw commented on #130
Currently,  `ros2-web-bridge` doesn't support the actions feature for ROS2, because the way of implementing action in ROS2 is different from ROS1 and `roslibjs` is designed for ROS1. The `rclnodejs` acts as the back-end for `ros2-web-bridge` and `ros2-web-bridge` acts as a kind of bridge to connect the web and the ROS2 nodejs client (rclnodejs). You could consider it as a proxy to send/receive mes

[2021-02-17 17:49] spygibas commented on #130
Thank you for explain. I understand now between rclnodejs and ros2-web-bridge.

[2021-02-18 06:03] spygibas commented on #147
I think you can do via msg std_msgs/msg for make execute a launch/kill files example on these link below but you need to update that code for support some package for ros2
https://answers.ros.org/question/268044/can-i-execute-a-launch-file-or-run-a-node-through-roswebtool/

[2021-02-24 08:54] jtrautmann opened #176 "Support for delay_between_messages parameter"
If I'm not seeing it completely wrong, the delay_between_messages doesn't seem to be supported. Is this correct?

[2021-02-24 15:17] #176 closed, assigned to nobody

[2021-02-25 00:36] AndrewJSchoen opened #178 "Illegal Hardware Exception"
Hi all,

I have been using this bridge more frequently, since it was actually able to translate visualization messages for the ros3djs library to use. However, I have been encountering a frequent issue in which the node randomly dies. Running in debug mode, here is the output:

[code]

It isn't super clear from this what is happening. Any thoughts?

[2021-02-25 02:45] minggangw commented on #178
From the backtrack you offered, I guess the the nodejs > 13.0.0, and if so, please use v12.21.0 instead. It's a known issue on the latest stable nodejs release.

[2021-02-27 20:33] #178 closed, assigned to nobody

[2021-03-02 12:02] Hiroaki-K4 opened #180 "Is it possible to publish msg from a website to a specific robot using this ros2-web-bridge?"
Hi, I have a question.
Is it possible to publish msg from a website to a specific robot using this ros2-web-bridge?
Thanks!

[2021-03-03 06:42] minggangw commented on #180
I'm afraid you cannot send a topic to a specific subscriber (robot) by the current ros2-web-bridge. Will `Hidden Topic or Service Names` introduced in [topic_and_service_names](https://design.ros2.org/articles/topic_and_service_names.html) help you?

[2021-03-03 08:34] Hiroaki-K4 commented on #180
@minggangw
Thank you for reply.
What are the uses of row-web-bridge?
Does it play a role in connecting the localhost server and ros2 on the same device?

[2021-03-03 08:56] minggangw commented on #180
`row-web-bridge` can run on an independent device and the web server connects to it through WebSocket, the ros2 can run on another device, neither the `row-web-bridge` nor the web server. Normally, to simply the implementation, you can install `row-web-bridge` and ros2 on the same machine.

[2021-03-19 16:26] #147 closed, assigned to nobody

[2021-03-19 16:26] #149 closed, assigned to nobody

[2021-04-12 22:32] newcanopies opened #181 "rosbridge node can not be terminated from bash"
Hello,

thank you for this great package.

is there a reason rosbridge node can not be easily terminated in bash terminal?
even after closing the browser window, terminal remains hung-up
![image](https://user-images.githubusercontent.com/65022111/114470515-52964180-9bef-11eb-8f96-566e63f57175.png)

[2021-04-12 23:34] christophebedard commented on #181
I also have this issue. I have to manually kill it (e.g. using htop).

Maybe something like this could be an easy fix: https://stackoverflow.com/a/53535316

[2021-04-21 11:08] newcanopies commented on #181
thanks @christophebedard
it does free-up that terminal, but the rosbridge node remains running in the background, listening on the PORT EADDRINUSE

[2021-04-21 13:58] christophebedard commented on #181
I assume one of these has to be called inside the signal handling function: `shutDown()` or `closeAllBridges()` (in `index.js`).

[2021-04-21 15:29] newcanopies commented on #181
thank you

tried all the variations, so far no luck,
SIGINIT logs the graceful shutdown message
but rosbridge node remains running

[2021-04-21 16:11] newcanopies commented on #180
hi @minggangw

The below code publishes the Message values from Web-client to Gazebo,
the inputed values do get logged in terminal as a correct JSON string, but Gazebo sim does not change -- anything missing?

1.
ros2-web-bridge Web-client app is running

2.
Web-client code:
<details>
`

      <div class="controllerinput">
        <div>
            <form id="ctrlPanel">

                <input cla

[2021-04-21 20:35] newcanopies commented on #181
@christophebedard is it even possible to call inside the functions?
![image](https://user-images.githubusercontent.com/65022111/115617586-d76d1380-a2f1-11eb-8e88-aed440461b2a.png)

[2021-04-21 20:50] newcanopies commented on #181
@christophebedard

none seem to work:
<details>
`
// Copyright (c) 2017 Intel Corporation. All rights reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to i

[2021-04-21 20:59] newcanopies commented on #181
this works for me
ros2-web-bridge/index.js:**136**
![image](https://user-images.githubusercontent.com/65022111/115620149-181a5c00-a2f5-11eb-8554-7fbe0a947fd2.png)

[2021-04-21 21:00] newcanopies commented on #181
thank you, this works
### ros2-web-bridge/index.js:136
![image](https://user-images.githubusercontent.com/65022111/115620369-5b74ca80-a2f5-11eb-8a07-7538e7ddbfbd.png)

[2021-04-21 21:01] #181 closed, assigned to nobody

[2021-04-22 03:46] minggangw commented on #180
Would you use [ros2cli](https://docs.ros.org/en/foxy/Concepts/About-Command-Line-Tools.html) to verify if the message has been sent practically?

[2021-04-22 13:51] newcanopies commented on #180
seems it is not sent practically
`ros2 topic list`
/clock
/parameter_events
/rosout
/robot/joint_states  _(urdf)_
/robot/set_joint_states _(urdf)_

@minggangw how to debug the above code and diagnose front vs backend?
Where could transport be failing when` Rosbridge` logs "connected" and the `Message object` JSON logs correct input values?

[2021-04-22 16:09] newcanopies commented on #180
@minggangw

above, the web-client HTML is served by ros2-web-bridge/bin/rosbridge.js

below, I tried serving the `web-client` via it's own websocket server (http/websocket8080)
and then connecting `ros2-web-bridge` in client mode `node bin/rosbridge.js --address ws://localhost:8080`

which logs the following:

`npm start web-clientserver.js`
[code]
`node bin/rosbridge.js --address ws://localhost:8

[2021-04-23 10:13] minggangw commented on #180
I noticed that when publishing a topic by the `ros2-web-bridge`, there is always an error

[code]
I think that is why it failed. Please check if you have a field named `get` in the JSON object.

[2021-04-23 10:35] newcanopies commented on #180
the only instance of "get" in the entire index.html is the camelcase getElementbyId
posePositionX = Number(document.**get**ElementById('PositionX').value);

is this the correct command to run ros2-web-bridge as client?
`node bin/rosbridge.js --address ws://localhost:8080`

why does the rosbridge response logging:
17:49:29 New connection   accepted from: **undefined ::ffff:127.0.0.1**

to Publish a

[2021-04-23 10:51] minggangw commented on #180
Do you get these logs by running `DEBUG=ros2-web-bridge* node bin/rosbridge.js`?

[2021-04-23 11:30] newcanopies commented on #180
@minggangw

no, the terminal logs above are produced by [gazebo-bridge-server](https://github.com/osrf/gzweb/blob/master/gzbridge/server.js) of [gzweb](https://github.com/osrf/gzweb) (web-client)

when [gazebo-bridge-server](https://github.com/osrf/gzweb/blob/master/gzbridge/server.js) is running,
trying to connect node bin/rosbridge.js --address ws://localhost:8080 in client mode
logs the unknown

[2021-04-23 12:35] minggangw commented on #180
If you are using `ros2-web-bridge` and want to check if the bridge works correctly, I suggest you run `DEBUG=ros2-web-bridge* node bin/rosbridge.js`

[2021-04-23 12:46] newcanopies commented on #180
`rosbridge_suite` "_default server uses autobahn, a python server implementation_"
what is the` ros2-web-bridge` default server?

[2021-04-23 12:48] newcanopies commented on #180
is this command correct to connect ros2-web-bridge to a running gazebo-bridge node?
`DEBUG=ros2-web-bridge* node bin/rosbridge.js --address ws://localhost:8080`

[2021-04-23 13:15] newcanopies commented on #180
hi @minggangw

`DEBUG=ros2-web-bridge* node bin/rosbridge.js`

reveals what looks like a conflict connecting the two ros node-bridges on same localhost:8080

`node:   /usr/include/boost/smart_ptr/shared_ptr.hpp:734: typename   boost::detail::sp_member_access<T>::type   boost::shared_ptr<T>::operator->() const [with T =   gazebo::transport::Publication; typename   boost::detail::sp_member_access<T>

[2021-04-23 15:25] minggangw commented on #180
Let me try to understand your problem, and I want to clarify the difference between rosbridge_suite and ros2-web-bridge first:

- [rosbridge_suite](https://github.com/RobotWebTools/rosbridge_suite): a general "bridge" designed for **ROS1** and works with [roslibjs](https://github.com/RobotWebTools/roslibjs) (front-end)
- [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge): a genera

[2021-04-23 16:22] newcanopies commented on #180
thank you for the definitions/clarifications @minggangw  (I am also reading all the available RobotWebTools documentation)

A) the native gzweb package is a Gazebo WebGL roslibjs client _only_. It has no UX command input-interface.
the native gzweb package creates
nodejs gazebo-bridge to Gazebo
over a nodejs WebSocket server
as well as a static http server for the index.html

the result is Gazebo/

[2021-04-23 17:58] newcanopies opened #183 "."

[2021-04-23 18:09] newcanopies commented on #180
That's right. Thank you - the boost:: websocket conflict was resolved by:

running web-client http+websocket on 8080
scripting `bridgePort` inline-html @ 9090
running ros2-web-bridge on 9090

the published Topic is live in ROS, but now ros2-web-bridge throws a _TypeError: Invalid argument:_

[2021-04-23 21:41] newcanopies commented on #145
hi @maxlein @minggangw

Just ran into the same issue in `ros2-web-bridge` with Message time definition discrepancy
`ros2-web-bridge:Bridge Response: {"op":"status","level":"error","msg":"publish: TypeError: Invalid argument: sec in Time","id":"publish:/move_base_simple/goal:2"} +4ms`

If I rename the keys in the [Time.msg](https://github.com/ros2/rcl_interfaces/blob/master/builtin_interfaces/msg/T

[2021-04-23 21:57] newcanopies commented on #145
hi   @maxlein @minggangw

Just ran into the `ros2-web-bridge` Error response to the Time message definition discrepancy
[code]
 
**What is the source of discrepancy in this environment?** Is it the client-side `roslibjs`?

ROS2  (Time definition _secs_)
Gazebo11
`ros2-web-bridge`
rclnodejs 0.17.1
node 12.20.1

Message Object
[code]

[2021-04-23 22:22] #183 closed, assigned to nobody

[2021-04-24 12:55] newcanopies commented on #180
All correct and Yes it does! @minggangw

I was able to **integrate** the two nodejs based packages, and resolve some boost::transport errors by:
running gzweb-cli to Gazebo websocket server @8080
running `ros2-web-bridge` @9090
publishing to bridgePort @9090

ROS2 introspection echoes the Topic correctly, and the below debug log shows no errors -- however Gazebo control is not established -- what

[2021-04-24 13:23] newcanopies commented on #180
As a simpler question, how to Publish from `ros2-web-bridge` to `Gazebo11` running as headless `gzserver`?

[2021-04-24 17:05] newcanopies commented on #180
Publishing JointStates from terminal moves the Gazebo robot:
ros2 topic pub /robot/set_joint_states trajectory_msgs/msg/JointTrajectory '{header: {frame_id: world}, joint_names: {joint_name}, points: [{positions: {-2}}]}'

and rosbridge server logs it too:
[code]

Publishing PoseStamped from terminal **does not move** Gazebo robot
ros2 topic pub /move_base_simple/goal geometry_msgs/PoseStamped '{

[2021-04-25 03:34] minggangw commented on #180
I'm not clear about your entire scenario, but it seems that you use some ROS1 component?

[2021-04-25 05:27] minggangw commented on #181
Please checkout the latest [v0.3.1](https://www.npmjs.com/package/ros2-web-bridge/v/0.3.1) which has this fix, thanks!

[2021-04-25 10:17] newcanopies commented on #180
`roslibjs` is the only ROS1 component. To your knowledge, should PoseStamped move a robot without any additional interfaces or packages like moveit?

[2021-04-26 06:03] minggangw commented on #180
**ros2-web-bridge** is compatible with roslibjs by complying with [rosbridge v2 protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md)

I'm not familiar with Gazebo simulator, but I deem publishing a `PoseStamped` topic is enough to control your virtual robot. Would you have a brief graph for your entire framework? It seems that you use the gzweb bridge and

[2021-04-26 10:33] newcanopies commented on #180
thanks for your insight @minggangw
it would be great if just adding an equivalent of the  libgazebo_ros_joint_pose_trajectory.so plugin to the robot.sdf would interface it with PoseStamped, but it is starting to look like moveit2 package may be required?

since I integrated gazebo-client-bridge into the `ros2-web-bridge` package, it is implicit under the ros2-web-bridge in the graph:
![image](http

[2021-04-26 12:07] newcanopies commented on #180
here is the graph with gazebo and ros2-web-bridge running and publishing from terminal:
`ros2 topic pub /move_base_simple/goal geometry_msgs/PoseStamped '{ header: { frame_id:  "world"}, pose: { position: { x: 0.4, y: 0.7 }, orientation: { x: 0, y: 0, z: 0, w: 1 } } }'`
![image](https://user-images.githubusercontent.com/65022111/116079802-8c0f8800-a698-11eb-859e-de718183c941.png)

[2021-04-26 15:05] minggangw commented on #180
I'm not clear why do you need a `ros2-web-bridge` here. For my understanding, GzWeb's NodeJS [server](https://github.com/osrf/gzweb/blob/master/gzbridge/server.js) will work as a bridge between the Javascript and gazebo C++ side. So, what is the role of `ros2-web-bridge`, I think the whole system is running on ROS2.

[2021-04-26 18:20] newcanopies commented on #180
Not sure, good question, isn't `ros2-web-bridge`'s node_module `rclnodejs` required to publish PoseStamped?

[2021-04-27 06:03] minggangw commented on #180
Yes, `rclnodejs` acts as back-end of `ros2-web-bridge` to access the ROS2, e.g. pub/sub a topic, but it cannot connect to the gzserver. A general usage is below:

![image](https://user-images.githubusercontent.com/6469275/116193068-58e4fb80-a761-11eb-9f7f-0e0aaa1121a0.png)

[2021-04-27 08:12] newcanopies commented on #180
OK, that is exactly why I try to integrate GzWeb to additionally "bridge" the Publishing to gzserver.

Does that mean that `ros2-web-bridge` is for controlling hardware robots via web,
as not for controlling simulated robots in Gazebo?

When GzWeb and ros2-web-bridge share the same PORT a boost Gazebo::transport error is thrown:
_node: /usr/include/boost/smart_ptr/shared_ptr.hpp:734: typename boos

[2021-05-01 23:38] newcanopies commented on #180
hi @minggangw
still racking my brains on this.
is this the missing interface for Gazebo to receive the web-cli published message? https://github.com/RobotWebTools/tf2_web_republisher
what would it take to adapt it to ROS2?

thank you!

[2021-05-03 15:46] minggangw commented on #180
To adapt the `tf2_web_republisher` to ROS2, I think you have to re-implement it, which needs a lot of work. To identify if the `ros2-web-bridge` works correctly, I suggest you could change the topic type of [pub](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/examples/html/publisher.html) and [sub](https://github.com/RobotWebTools/ros2-web-bridge/blob/develop/examples/html/subscript

[2021-05-21 11:32] GitRepJo opened #185 "Not possible to connect to RosBridge"
Hi,

I installed the current version of node v10.19.0. on Ubuntu 20.04.2 LTS
I run `node bin/rosbridge.js `and `node examples/index.js`
However when i open  http://localhost:3001/html/publisher.html in the browser i get the message.

No messages are received by the node index.js.

I changed the port of the node index.js to 3001 in index.js because 3000 was already used.

Any suggestions on how to

[2021-05-21 12:11] GitRepJo commented on #185
As already stated in  #160 [https://github.com/RobotWebTools/ros2-web-bridge/issues/160](url),
`DEBUG=ros2-web-bridge* node bin/rosbridge.js` provides more details.
It turns out, that the default port localhost:9090 was already blocked. Changing it to an open port worked well.
I checked for blocked ports with `sudo nmap -sT -O localhost`

[2021-05-21 12:13] #185 closed, assigned to nobody

[2021-05-24 12:02] simutisernestas opened #186 "State of authentication"
What's the state of the authentication system? How would you go about implementing it?

[2021-05-24 15:19] minggangw commented on #186
Do you mean kind of authentication , like, https://github.com/RobotWebTools/rosbridge_suite/blob/a09a964fb5956321aca3b296da367e21d3d2e044/ROSBRIDGE_PROTOCOL.md#2-the-rosbridge-protocol?

[2021-05-24 17:43] simutisernestas commented on #186
Something like that, basically to only allow connection from authenticated parties. Either by implementing auth described by the protocol or restricting the access in other ways. Would be interesting to hear your opinion about any options on how to achieve that.

[2021-05-26 14:18] ManuelZ opened #187 "Latest rclnodejs version 0.19.0 doesn't work on Foxy"
I'm using Foxy and installing ros2-web-bridge through npn, which depends on rclnodejs version 0.x.1, which lately means installing 0.19.0, which doesn't work on Foxy. It brings up an error as stated here:
https://github.com/RobotWebTools/rclnodejs/issues/792

What could be done to allow a Foxy user to install ros2-web-bridge without trouble?

[2021-05-26 16:54] Aposhian commented on #187
I think that ros2-web-bridge 0.3 should lock down the rclnodejs dependency to ^0.18.x and bump the version for galactic to 0.4. I can make a PR for that if that is in line with how this project is going to manage versions for different ROS2 releases.

[2021-05-26 17:43] emersonknapp commented on #187
That seems like a good strategy to me - perhaps we should note the version-mappingin the README as well - a simple table like:

* Foxy: use rclnodejs ^0.18.x
* Galactic: use rclnodejs ^0.19.x
* Rolling: always use latest

[2021-05-27 05:26] minggangw commented on #187
This issue has been fixed by https://github.com/RobotWebTools/rclnodejs/commit/ab69738d8978f37549bec36ba5c6fd8838b5b243, and you can find which version matches a specific ROS release at https://github.com/RobotWebTools/rclnodejs#installing-rclnodejs

[2021-05-27 05:40] minggangw commented on #186
Sorry for the delay, we haven't had any plan to implement the auth function. Currently, the `ros2-web-bridge` only offers some basic functions for the ROS2 system.

[2021-05-27 06:45] simutisernestas commented on #186
Would a PR be welcome?

[2021-05-27 14:50] minggangw commented on #186
Of course and you can share your idea using this thread to track the issue :)

[2021-05-27 15:14] p0rys opened #188 "[Question] throttle_rate for topic subscribtions"
hey,

just a short question: Is the throttle_rate feature for topic subscriptions implemented? I found it on the protocol spec and the README does not mark it as "not implemented", but it seems not to work with this package and roslibjs.

If it is not implemented right now, is there any plan to do so?

Thanks!

[2021-05-27 18:10] newcanopies commented on #180
The topic is published in the bash terminal, and can be echoed in the bash terminal with this modified Index script:
$ node examples/[index_rclnode.js](https://gist.github.com/newcanopies/976387554fe2504e232b8e8efd18a42a)

 but the message is not displayed in the web browser:

**_Publisher_** https://gist.github.com/newcanopies/85ccc01a27a60a82fccd0fd7a1d7398e
![image](https://user-images.githubus

[2021-05-27 18:16] newcanopies commented on #180
Also, the following error is printed after `Ctrl-C`

[code]

[2021-05-27 19:38] newcanopies commented on #180
Ending ` index_rclnode.js `

gives this error:

[code]

ros2-web-bridge/examples/`index_rclnode.js`:24:17

setInterval(function () {

              publisher.publish({

           header{

[2021-05-28 08:25] p0rys commented on #188
Found #63

[2021-05-28 08:25] #188 closed, assigned to nobody

[2021-05-31 09:41] minggangw commented on #187
Please upgrade the rclnodejs to [0.19.1](https://www.npmjs.com/package/rclnodejs/v/0.19.1) that has resolved the incompatibility problem on Galactic.

[2021-05-31 13:16] simutisernestas commented on #186
nodejs ws library suggests auth through HTTP request by upgrading a client and forwarding to WebSocket connection. This seems quite straightforward and a much simpler option than implementing web bridge auth protocol. I've tested a dummy example here: https://github.com/simutisernestas/ros2-web-bridge/commit/c1759861164438781cdd0e7157892e24d01fe5a9#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba2

[2021-06-01 03:18] minggangw commented on #186
Thanks for your investigations! I will take a look soon.

[2021-06-04 05:14] minggangw commented on #186
Hi @simutisernestas I have some questions

- If we use the `upgrade` request to take the auth, do developers send the request through the JS functions by `roslibjs` or they have to send it explicitly by them self?
- After the `bridge` receives the auth, who will be responsible to verify it? (I suppose the service vendor which the client wants to request should do this instead of the `bridge`).
- I

[2021-06-04 10:27] simutisernestas commented on #186
- ws connection is initialized inside `roslibjs` as I understand [here](https://github.com/RobotWebTools/roslibjs/blob/112f8dc07592686161a21b777dca5432678a73be/src/node/RosTCP.js#L41-L59). There is no option to pass additional data like cookies, etc. I'm triggering `upgrade` by simply connecting ws client to HTTP server port `wscat -c ws://localhost:8080` and the connection is forwarded if authent

[2021-06-05 15:38] minggangw commented on #186
If we cannot call `roslibjs` directly, how can we take extra information used to authenticate? (considering running in a web browser without nodejs support)

I mean if a client is sending requests to a service to do something (e.g. calculate the sum of two integer numbers), the service itself should decide whether to serve the request from a specific client.

As ROS2 uses DDS-Security, I'm wonderi

[2021-06-07 13:37] simutisernestas commented on #186
One option would be to modify `roslibjs` to take in extra arguments like cookies when initializing a connection. This would allow to implement authentication scheme as described previously. However, access control must be handled in the bridge too in that case.

As I understand SROS2 allows to restrict certain nodes from subscribing/publishing to selected topics. `ros2-web-bridge` acts as a node i

[2021-06-07 14:29] newcanopies commented on #180
hi @minggangw
do you think there is an error in below scripts or bridge?

$ node examples/[index_rclnode.js
](https://gist.github.com/newcanopies/976387554fe2504e232b8e8efd18a42a)

[Publisher](https://gist.github.com/newcanopies/85ccc01a27a60a82fccd0fd7a1d7398e)

[Subscriber](https://gist.github.com/newcanopies/f679c3ad8464534d29ed5690d56a0532)

[2021-06-08 03:15] minggangw commented on #186
So I think one feasible way is to extend the `roslibjs` interfaces together with rosbridge v2 Protocol to support the scenario you described, right?

[2021-06-08 03:24] minggangw commented on #186
BTW, we are planing to have a working [group](https://discourse.ros.org/t/call-for-interest-robotwebtools-working-group/20451) for the WebRobotTools, so I think this is a good opportunity to move forward, because neither `roslibjs` nor the `rosbridge` was deigned for ROS2 and we can propose some ROS2 specific requirements under this working group, welcome to join:)

[2021-07-08 23:01] jtbandes commented on #146
Hi @minggangw 👋
I work on [Foxglove Studio](https://github.com/foxglove/studio) and we're interested in helping to push forward this work in order to support WebSocket-based connections to ROS 2. Is there any guidance you can give on the best/desired approach to implement equivalent functionality in ros2-web-bridge?

I was poking around and it seems like the services that are implemented today (fo

[2021-07-09 06:05] minggangw commented on #146
Hi @jtbandes thanks for your question and welcome :smile: Yeah, the ROS2 has a different story from ROS1, ROS2 integrates more functionalities into its clients, e.g. rclpy/rclnodejs, although all kinds clients are based on the [rcl](https://github.com/ros2/rcl) library to implement some platform-specific features. Another feature that were implemented by the roslibjs for ROS1 is the [actionlib](ht

[2021-07-11 08:44] Shashika007 opened #189 "To display URDF (custom robot model) in web viewer"

[2021-07-11 08:44] #189 closed, assigned to nobody

[2021-07-15 01:26] jtbandes commented on #146
Thanks for the response, I spent some more time reading code and now I have some more detailed questions 🙂

Where would these go? It seems like this repo currently doesn't have any .msg/.srv files except for one in the test code. And more importantly, how would these be picked up by the `generate-messages` step in rclnodejs? Currently, it looks like generate-messages only generates JS for messages

[2021-07-15 10:07] EricSun787 commented on #171
Hi, I also have a problem about tfw_web_republisher. I found that in ros3djs, all display plug-ins that require tfClient cannot be displayed normally, such as pose, urdf, laserscan, etc.
Here is part of  my debug information：

[code]
  **ros2-web-bridge:Bridge Response: {"op":"status","level":"error","msg":"publish: TypeError: Invalid argument: sec in Time","id":"publish:/tf2_web_republisher/cance

[2021-07-15 22:38] jtbandes commented on #174
I'm interested in discussing this too. Our web visualizer (https://github.com/foxglove/studio) is able to speak the rosbridge v2 protocol, but currently depends on receiving the raw datatype (.msg) definitions using the `topics_and_raw_types` API, which is missing from ros2-web-bridge (discussed in https://github.com/RobotWebTools/ros2-web-bridge/issues/146). One limitation is a lack of support  f

[2021-07-16 02:35] dheera commented on #174
Although I do agree with the general theme of core ROS libraries sticking to C++/Python to reduce dependencies, it would also be super nice if the ROS 2 build system could handle NodeJS packages properly and not require extra steps other than "colcon build". Maybe a build type called `ament_nodejs` that automatically handled `npm install` much in the same way that it handles `setup.py`? NodeJS can

[2021-07-16 03:16] minggangw commented on #174
Absolutely, thus nodejs developers can call `npm install` as usually, and developers of C++/Python can continue call `colcon`. https://github.com/RobotWebTools/rclnodejs-cli has extended the cli tool to the rclnodejs client, I think that is what we want for `colcon` :)

[2021-07-16 15:53] minggangw commented on #171
I think the root cause is that the [actionlib](https://github.com/RobotWebTools/roslibjs/tree/develop/src/actionlib) is implemented by the roslibjs library for ROS1, while for ROS2, the actionlib is implemented by the [rcl](https://github.com/ros2/rcl/tree/master/rcl_action) and exposed through different clients, e.g. rclpy/rclnodejs.

Unfortunately, the ros2-web-bridge doesn't expose the actionli

[2021-07-16 16:05] minggangw commented on #146
I see, so a separate project is suitable for this case.

[2021-07-16 20:50] jtbandes commented on #146
I learned that the rosbridge_suite project already has some basic ROS 2 compatibility in the `ros2` branch, so I made a PR to add `get_topics_and_raw_types`: https://github.com/RobotWebTools/rosbridge_suite/pull/574

It's not perfect, because it has to reconstitute the .msg files since they aren't included in the generated message classes / typesupport. But it does allow basic subscription functio

[2021-07-16 20:53] jtbandes commented on #174
It turns out `rosbridge_suite` already has a [`ros2` branch](https://github.com/RobotWebTools/rosbridge_suite/tree/ros2) with some work on ROS 2 compatibility, although it hasn't been published in a ROS 2 release since Dashing. So I did some work to expose `get_topics_and_raw_types` and just posted a PR: RobotWebTools/rosbridge_suite#574

[2021-07-16 22:34] amacneil commented on #174
Allowing the ROS 2 build system to handle nodejs is a good idea (that hopefully will be implemented), but that still doesn’t mean that we should introduce nodejs as a dependency where it isn’t necessary.

For a tool like rosbridge/web bridge, robotics developers should be able to install the package without needing to have apt install nodejs, pulling down (or bundling) thousands of extra packages

[2021-07-17 02:44] threeal commented on #174
It's been a long time since the first time i posted this thread. Anyway, after a long times of inactivity in this thread, since March, my team decided to start a [WebSocket bridge project for ROS 2](https://github.com/ichiro-its/kumo). It's written in Python and currently support topics and services communication. We also create a [serializer library](https://github.com/ichiro-its/yakusha) to hand

[2021-07-17 16:46] dheera commented on #174
One thing I also wanted to mention is that I had to move away from the standard rosbridge protocol for my ROSboard project (https://github.com/dheera/rosboard) because they don't support the types of aggressive server-side compression needed to stream certain large datatypes, especially images and pointclouds. I created my own stripped-down [websocket bridge ](https://github.com/dheera/rosboard/bl

[2021-07-21 16:57] giesberge opened #190 "Simple Client Example Fails with message required does not exist"
`bridge_1  | 2021-07-21T16:55:37.540Z ros2-web-bridge:Bridge JSON command received: {"op":"call_service","id":"call_service:/add_two_ints:1","service":"/add_two_ints","type":"example_interfaces/AddTwoInts","args":{"a":1,"b":2}}
bridge_1  | 2021-07-21T16:55:37.540Z ros2-web-bridge:Bridge Response: {"op":"status","level":"error","msg":"call_service: Error: The message required does not exist: exampl

[2021-07-27 15:21] Shashika007 opened #191 "URDF visualization using ros2-web-bridge"
@minggangw Hi, Can i know whether ros2-web-bridge to display URDF in web client over ROS3DJS ? It requires tf2_web_republisher [ROS2] which address [here](https://github.com/RobotWebTools/rosbridge_suite/issues/552)

[2021-07-30 21:46] amacneil commented on #174
@threeal we had some discussion with the ros-web working group this week, and are going to revive and publish `rosbridge_suite` for ROS 2 (which is written in python). There is already a working [ros2 branch](https://github.com/RobotWebTools/rosbridge_suite/tree/ros2), which will soon become the default branch (https://github.com/RobotWebTools/rosbridge_suite/issues/577), and will be published as

[2021-08-09 12:27] SomaGallai commented on #171
Is there a work-around for this issue?

[2021-08-10 17:46] connormbrooks opened #192 "Mismatch in service call from rosbridge protocol"
Hi, I have encountered errors when creating ROS service calls using a 3rd party application (ROS#) that I have traced to what appears to be a mismatch with the rosbridge protocol being implemented here. The issue here is the list of expected parameters for a `call_service`  op. The rosbridge protocol does not expect a `type` parameter (see: [here](https://github.com/RobotWebTools/rosbridge_suite/b

[2021-09-05 18:40] Bmoradi93 opened #193 "Connected, topics are visible, but data is not being published on the topics!!"
Hello everyone,
I'm using your package with Autoware.Auto and ROS-Foxy and LGSVL Simulator.
I can see that the connected is ok. I can do "ros2 topic list" and I can see my topics. Inside the simulator the status is "connected" and the data is flowing.

I cannot receive any data on the topics (/imu and /points_raw).

[2021-09-05 18:57] Bmoradi93 commented on #193
I found the solution:
1- git clone https://github.com/lgsvl/ros2-lgsvl-bridge.git
2- cd ros2-lgsvl-bridge
3- git checkout devel-foxy
4- colcon build
You can also follow the instructions inside the repo README.md

[2021-09-05 18:58] Bmoradi93 commented on #193
I found the solution:
1- git clone https://github.com/lgsvl/ros2-lgsvl-bridge.git
2- cd ros2-lgsvl-bridge
3- git checkout devel-foxy
4- colcon build
5- . ~/ros2-lgsvl-bridge/install/setup.bash
6- lgsvl_bridge [--port 9090] [--log D]

[2021-09-06 18:55] MarcoAndrade26 opened #194 "Open Demo index.html"
Hello!
I am new using ros2-web-bridge. I would like to know how can I "run" the index.html inside "demo" folder.

I already run:

`node bin/rosbridge.js`

But while running

`node index.js` in ros-web-bridge, nothings happens.

[2021-09-07 12:51] eden-desta opened #195 "Using Web-Bridge as part of a React application"
Hi!
I have used this before as a standalone, while running the steps provided in the readME. I am interested in understanding if it can be packed as part of a React application to start up when we call `npm start`. I am a newbie with React so this might not be the right terminology so to speak but any input would be great!

Thank you!
And thanks for providing this brilliant lib!

[2021-09-16 06:50] raryant commented on #195
yes, React is frontend framework, if you using npm start it will start in development mode, you should start the web bridge using service. CMIIW

[2021-09-16 14:21] flynneva commented on #195
@eden-desta if you're looking for inspiration feel free to build a ROS2 version of my ROS1 react-ros package: https://github.com/flynneva/react-ros

I've also tried a go at integrating react-three-fiber (aka three.js) as a separate package (react-ros-three). Feel free to look at that as well and use it as a template if you want to make your own!

[2021-10-01 06:59] sandeshworld commented on #195
These two things might help you:
https://github.com/RobotWebTools/roslibjs/issues/252#issuecomment-306202003
https://github.com/RobotWebTools/roslibjs/issues/252#issuecomment-883302274

It helped me use it for my React Application.

[2021-10-22 19:29] elyarzv commented on #151
Do you know can we install it for galactic or not?

[2021-10-22 22:08] elyarzv commented on #151
It could be great if you share your Dockerfile with us. I still have problems when install ros2-web-bridge in Dockerfile. Thanks

[2021-11-14 14:44] eden-desta opened #197 "Is it possible to delete a publisher or subscriber"
Hello,
As part of the ROS2 system, folks are typically able to destroy their respective timers, publishers, subscribers etc.
I was wondering if this was a supported features for this library as it seems it definitely could use this functionality.

Looking forward to your response! Thanks!

[2021-12-05 01:54] #195 closed, assigned to nobody

[2022-11-17 17:56] jtbandes commented on #146
Done in https://github.com/RobotWebTools/rosbridge_suite/pull/574

[2022-11-17 17:56] #146 closed, assigned to nobody